---
import { Image } from "astro:assets";
import logoGDM from "../../assets/img/logo-gdm-white.svg";
import NovaImage from "../../assets/img/nova.png";
import LayoutBlogPost from "../../layouts/LayoutBlogPost.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getCollection, type CollectionEntry } from "astro:content";
export async function getStaticPaths() {
	const posts = await getCollection("articles");
	const paths = posts.map((post) => {
		return {
			params: {
				slug: post.slug,
			},
			props: {
				post,
			},
		};
	});

	return paths;
}
type Props = {
	post: CollectionEntry<'articles'>;
};
const { post } = Astro.props;
const { Content, headings } = await post.render();
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
---

<LayoutBlogPost title={post.data.metatitle} description={post.data.excerpt} ogimage={post.data.ogimage}>
	<Header />
	<div class="bd-container">
		<Breadcrumbs transition:persist>
			<svg
				slot="index"
				xmlns="http://www.w3.org/2000/svg"
				height="1em"
				viewBox="0 0 576 512">
				<path
					d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
				></path>
			</svg>
			<svg
				slot="separator"
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round">
				<polyline points="9 18 15 12 9 6"></polyline>
			</svg>
		</Breadcrumbs>
	</div>
	<main class="mt-6 mb-16 px-6">
		<div class="container flex gap-6 px-6">
			<article class="w-2/3">
				<img
					src={post.data.ogimage}
					alt={post.data.title}
                    width="795"
                    height="445"
					transition:name={`featuredImg_${post.slug}`}
				/>

				<h1>{post.data.title}</h1>
				<div class="article-content">
					<Content />
				</div>
			</article>
			<aside class="w-1/3" transition:persist>
				<div class="novacontainer">
					<div class="novainner">
						<div class="header-nova-box">
							<Image
								src={logoGDM}
								width="230"
								height="40"
								alt="logo GDM-Pixel"
								loading="lazy"
							/>
						</div>
						<Image
							src={NovaImage}
							width="410"
							height="273"
							alt="Nova"
							loading="lazy"
						/>
						<p>Vous ne trouvez pas de réponse à votre question ?</p>
						<span class="ask">Demandez à NOVA</span>
						<button aria-label="Poser votre question" class="cta red" onclick="openNova()"
							>Posez votre question</button
						>
					</div>
				</div>
			</aside>
		</div>
	</main>
	<Footer />
</LayoutBlogPost>
<style lang="scss">
	.header-nova-box {
		@apply px-4 py-6 flex justify-center;
	}

	.novacontainer {
		@apply w-full rounded-lg relative self-start
		flex flex-col justify-start items-center text-white;
		.novainner {
			@apply pt-4 pb-12 bg-prussian-600 relative z-10 flex flex-col justify-center items-center self-center;
		}
		img {
			@apply w-full;
		}
		p {
			@apply px-4 py-6 text-center text-md;
		}
		.ask {
			@apply block text-center text-xxl uppercase font-bold mb-6;
		}
	}

	.glow::before,
	.glow::after {
		content: "";
		position: absolute;
		left: -2px;
		top: -2px;

		background: linear-gradient(
			45deg,
			#0dffd7,
			#0c67fa,
			#217eff,
			#00e1ff,
			#cff7ff,
			#23e9ff,
			#0055ff,
			#00d4f5,
			#0dffd7
		);
		background-size: 400%;
		width: calc(100% + 4px);
		height: calc(100% + 4px);

		animation: animate 60s linear infinite;
	}
	@keyframes animate {
		0% {
			background-position: 0 0;
		}
		50% {
			background-position: 300% 0;
		}
		100% {
			background-position: 0 0;
		}
	}
	.glow:after {
		filter: blur(15px);
		opacity: 0.5;
	}

</style>
