---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { ghostClient } from '../lib/ghost';
const posts = await ghostClient.posts
    .browse({
        limit: 'all',
        include: 'authors,tags,feature_image' ,
        filter:'tag:tuto',
    })
    // @ts-ignore
    .catch((err) => {
        console.error(err);
    });
---
<Layout title="Page des composants" description="Ceci est la meta description">
	<main>
		<Header />
		
 {
    // @ts-ignore
            posts.map((post) => (
                <div>DU CONTENU</div>
                <a href={`/articles/${post.slug}`}>
                    <h1> {post.title} </h1>
                    { post.feature_image && <img src={post.feature_image} alt={post.title} /> }
                    <p> {post.excerpt} </p>
                </a>
            ))
        }
</Layout>