---
import { Image } from "astro:assets";
import Reassurance from "../components/Reassurance.astro";
import IdVisuelleTop from "/src/assets/img/id-visuelle-top.png";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroBoxIdentiteVisuelle from "../components/HeroBoxIdentiteVisuelle.astro";
import GaucheDroite from "../components/Gauche-Droite.astro";
import FlipBox from "../components/FlipBox.astro";
import PixelSeparator from "../components/PixelSeparator.astro";
import * as animations from "../components/animations.js";
import CaseStudyEcommerceSlider from "../components/CaseStudyEcommerceSlider.astro";
import logoGDM from "../assets/img/logo-gdm-white.svg";
import Accordion from "../components/Accordion.astro";
import NovaImage from "../assets/img/nova.png";
import CTABand from "../components/CTABand.astro";
import Testislider from "../components/Testislider.astro";
import MainCTA from "../components/MainCTA.astro";
import Accelerateur from "../components/Accelerateur.astro";
import EcommerceSlider from "../components/EcommerceSlider.astro";
import Footer from "../components/Footer.astro";
import Portfolio from "../components/Portfolio.jsx";
import logoAden from "../assets/img/logo-aden-formation.png";
import logoLesClapiottes from "../assets/img/logo-les-clapiottes.png";
import logoMDS from "../assets/img/logo-my-digital-school.png";
import logoBoutiqueChientChat from "../assets/img/logo-atout-chat-chien.png";
import logoOpenMindInnovation from "../assets/img/logo-open-mind-innovation.png";
import logoSEOCamp from "../assets/img/logo-seo-camp.png";
import logoAnahataYoga from "../assets/img/logo-anahata-yoga.png";
import logoLaCasiniere from "../assets/img/logo-la-casiniere.png";
import logoEurodisViande from "../assets/img/logo-eurodis-viande.png";
import DesignBlogSlider from "../components/DesignBlogSlider.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
const customCrumbs = [
  { text: "Accueil", href: "/" },
  {
    text: "Identité visuelle",
    href: "/identite-visuelle/"
  }
];
---

<Layout
	title="Identité visuelle à Caen"
	description="GDM-Pixel, agence web à Caen, vous conseille et vous accompagne pour la création de votre identité visuelle.">
	<Header />
	<div class="bd-container">
		<Breadcrumbs crumbs={customCrumbs} transition:persist>
			<svg
				slot="index"
				xmlns="http://www.w3.org/2000/svg"
				height="1em"
				viewBox="0 0 576 512">
				<path
					d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
				></path>
			</svg>
			<svg
				slot="separator"
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round">
				<polyline points="9 18 15 12 9 6"></polyline>
			</svg>
		</Breadcrumbs>
	</div>
	<HeroBoxIdentiteVisuelle />
	<main>
		<!-- REASSURANCE -->
		<div class="reassurance" transition:animate={animations.animInFromBottom}>
			<div class="grid lg:grid-cols-4 md:grid-cols-2 gap-8">
				<Reassurance
					title="Expérience et expertise"
					icon="fa-hat-wizard"
					body="13 ans d'expérience en création de sites E-commerce"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Satisfaction garantie"
					icon="fa-message-heart"
					body="Votre satisfaction est notre priorité absolue"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Approche globale multicanale"
					icon="fa-photo-film-music"
					body="Notre approche du design inclut tous les médias, web & print."
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Consultation gratuite"
					icon="fa-messages-question"
					body="Demandez un rendez-vous pour faire le point sur votre besoin."
					color="prussian"
					size="medium"
				/>
			</div>
		</div>
		<!-- FIN DE REASSURANCE -->

		<GaucheDroite
			subtitle="A propos"
			title="Devenir plus efficace grâce à une bonne image de marque"
			intro="Une identité visuelle forte vous permet de laisser une première impression inoubliable."
			body="<p>Votre identité visuelle est bien plus qu'un simple logo ou une palette de couleurs. C'est le premier élément que les gens associent à votre entreprise, c'est pourquoi <strong>il doit être mémorable, distinctif et professionnel</strong>. </p><p>Chez GDM-Pixel, nous créons des identités visuelles qui capturent l'essence de votre marque et parlent efficacement à votre cible. </p><p class='mt-6'>Du logo à la charte graphique, en passant par le design web et les supports de communication, faites une première impression qui dure, tout en restant fidèle à qui vous êtes !</p>  "
			imgsrc={IdVisuelleTop}
			imgalt="Création de site E-commerce à Caen"
			reverse={false}
		/>

		<!-- REASSURANCE -->
		<div class="row bg-gradient-to-b from-[#1B3751] to-[#232634] py-24">
			<div class="container">
				<div class="section-header dark">
					<span class="subtitle text-moonstone-400">Nos Services</span>
					<h2 class="section-title">
						Ce que nous proposons pour votre identité visuelle
					</h2>
					<PixelSeparator />
				</div>
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
					<FlipBox
						title="Création de Logo"
						bodyFront="Création de logos professionnels et attrayants"
						bodyBack="Des designs uniques pour une image de marque forte"
						icon="fa-paintbrush"
						color="moonstone"
					/>
					<FlipBox
						title="Charte Graphique"
						bodyFront="Élaboration de chartes graphiques complètes et cohérentes"
						bodyBack="Définissez l'identité visuelle unique de votre entreprise"
						icon="fa-palette"
						color="moonstone"
					/>
					<FlipBox
						title="Supports Marketing"
						bodyFront="Conception de supports marketing innovants et efficaces"
						bodyBack="Boostez votre communication avec des outils marketing ciblés"
						icon="fa-file-certificate"
						color="moonstone"
					/>
					<FlipBox
						title="Web design"
						bodyFront="Création de designs web modernes et responsive"
						bodyBack="Sublimez votre présence en ligne avec des sites esthétiques"
						icon="fa-browser"
						color="moonstone"
					/>
				</div>
				<div class="cta-container-centered">
					<button class="cta blue novabtn">Poser une question</button><a
						href="/contact/"
						class="cta red">Nous contacter</a
					>
				</div>
			</div>
		</div>

		<section class="portfolio">
			<div class="row my-20">
				<div class="container">
					<div class="section-header">
						<span class="h6 text-dustyred-400 uppercase font-bold mb-6"
							>Dernières créations</span
						>
						<h2 class="section-title">
							Quelques une de nos dernières réalisations
						</h2>
						<PixelSeparator />
					</div>
				</div>

				<Portfolio client:idle />
			</div>
		</section>
		<Accelerateur />
		<Testislider />
		<section class="brandpartners pb-24">
			<div class="max-w-full px-10 flex flex-wrap gap-8 justify-center">
				<Image
					src={logoAden}
					width="175"
					height="90"
					alt="logo Aden Formation"
					loading="lazy"
				/>
				<Image
					src={logoLesClapiottes}
					width="200"
					height="90"
					alt="logo les Clapiottes"
					loading="lazy"
				/>

				<Image
					src={logoMDS}
					width="200"
					height="90"
					alt="logo My Digital School"
					loading="lazy"
				/>

				<Image
					src={logoBoutiqueChientChat}
					width="102"
					height="90"
					alt="logo Atout chat et chien"
					loading="lazy"
				/>

				<Image
					src={logoOpenMindInnovation}
					width="175"
					height="90"
					alt="logo Open Mind Innovation"
					loading="lazy"
				/>

				<Image
					src={logoSEOCamp}
					width="108"
					height="90"
					alt="logo SEO Camp"
					loading="lazy"
				/>

				<Image
					src={logoAnahataYoga}
					width="167"
					height="90"
					alt="logo Anahata Yoga"
					loading="lazy"
				/>

				<Image
					src={logoLaCasiniere}
					width="186"
					height="90"
					alt="logo La Casinière"
					loading="lazy"
				/>

				<Image
					src={logoEurodisViande}
					width="102"
					height="90"
					alt="logo Eurodis Viande"
					loading="lazy"
				/>
			</div>
		</section>
		<MainCTA />
		<DesignBlogSlider />
		<CTABand />
		<section class="faqbox">
			<div class="container">
				<div class="section-header left">
					<span class="h6 text-moonstone-400 uppercase font-semibold mb-6 block"
						>FAQ</span
					>
					<h2 class="section-title">Réponses aux questions fréquentes</h2>
					<PixelSeparator />
				</div>

				<div class="row flex flex-col md:flex-row gap-6">
					<div class="faqcontainer shadow-md">
						<Accordion
							items={[
								{
									title:
										"Q : Qu'est-ce que le webdesign et pourquoi est-il important ?",
									answer:
										"<p>R : Le webdesign est l'art de créer l'apparence visuelle et l'expérience utilisateur d'un site web. Il est crucial car il influence la façon dont les visiteurs perçoivent votre marque et détermine l'efficacité de leur interaction avec votre site.</p>",
									isopen: true,
								},
								{
									title:
										"Q : Comment créez-vous une identité visuelle unique pour un site web ?",
									answer:
										"<p>R : Nous commençons par comprendre votre marque, votre public cible et vos objectifs. Ensuite, nous élaborons un design unique qui reflète votre identité de marque, en utilisant des éléments visuels cohérents comme les couleurs, les polices, et les images.</p>",
								},
								{
									title:
										"Q : Combien de temps prend la création d'un design web ?",
									answer:
										"<p>R :  Le temps nécessaire varie selon la complexité du projet. Un design de base peut être réalisé en quelques semaines, tandis qu'un projet plus complexe nécessitera plus de temps pour la recherche, la conception et les révisions.</p>",
								},
								{
									title:
										"Q : Quels sont les éléments clés d'un bon webdesign ?",
									answer:
										"<p>R : Un bon webdesign doit être esthétiquement plaisant, facile à naviguer, responsive (adapté aux mobiles), rapide à charger, et doit fournir une expérience utilisateur intuitive.</p>",
								},
								{
									title:
										"Q : Comment intégrez-vous l'identité de marque dans le webdesign ?",
									answer:
										"<p>R : Nous utilisons les couleurs, les polices, le style graphique et le ton de votre marque pour créer un design qui reflète fidèlement votre identité de marque et renforce la reconnaissance de votre marque.</p>",
								},
								{
									title:
										"Q : Proposez-vous des services de refonte pour les sites existants ?",
									answer:
										"<p>R : Oui, nous offrons des services de refonte pour moderniser votre site existant, améliorer l'expérience utilisateur, et le rendre plus conforme à votre identité de marque actuelle.</p>",
								},
								{
									title:
										"Q : Comment restez-vous à jour avec les dernières tendances en webdesign ?",
									answer:
										"<p>R : Nous suivons les dernières tendances en matière de webdesign en participant à des conférences, en lisant des publications de l'industrie, et en expérimentant avec de nouvelles techniques et technologies.</p>",
								},
								{
									title:
										"Q : Comment l'identité visuelle influence-t-elle la perception de ma marque par les clients ?",
									answer:
										"<p>R : L'identité visuelle est cruciale car elle transmet les valeurs, l'essence et la personnalité de votre marque. Un design cohérent et réfléchi crée une impression positive et durable, aide à établir la confiance et favorise la reconnaissance de votre marque auprès des clients.</p>",
								},
								{
									title:
										"Q : Pouvez-vous adapter mon identité visuelle existante à un nouveau design de site web ?",
									answer:
										"<p>R : Oui, nous pouvons harmoniser votre identité visuelle existante avec un nouveau design de site web. Cela implique d'intégrer vos couleurs, logos, polices et autres éléments de marque de manière cohérente tout en apportant des améliorations pour rafraîchir et moderniser l'apparence générale.</p>",
								},
								{
									title:
										"Q : Comment gérez-vous les dernières tendances en matière d'identité visuelle tout en maintenant une apparence intemporelle ?",
									answer:
										"<p>R : Tout en étant attentifs aux tendances actuelles, notre approche consiste à créer une identité visuelle qui est à la fois moderne et intemporelle. Nous équilibrons l'innovation avec des éléments classiques pour assurer que votre identité visuelle reste pertinente et efficace à long terme, évitant ainsi un design qui pourrait rapidement devenir démodé.</p>",
								},
							]}
						/>
					</div>
					<div class="novacontainer glow" transition:persist>
						<div class="novainner">
							<div class="header-nova-box">
								<Image
									src={logoGDM}
									width="230"
									height="40"
									alt="logo GDM-Pixel"
									loading="lazy"
								/>
							</div>
							<Image
								src={NovaImage}
								width="410"
								height="273"
								alt="Nova"
								loading="lazy"
							/>
							<p>Vous ne trouvez pas de réponse à votre question ?</p>
							<span class="ask">Demandez à NOVA</span>
							<button aria-label="Posez votre question" class="cta red novabtn"
								>Posez votre question</button
							>
						</div>
					</div>
				</div>
			</div>
		</section>
	
	</main>
	<Footer />
</Layout>
<script>
	function setup() {
		window.addEventListener("scroll", function () {
			var novacontainer = document.querySelector(".novacontainer");
			if (novacontainer) {
				var rect = novacontainer.getBoundingClientRect();
				var isCloseToTop = rect.top <= 10;
				novacontainer.classList.toggle("sticky", isCloseToTop);
			}
		});
	}
	document.addEventListener("DOMContentLoaded", setup);
	document.addEventListener("astro:page-load", setup);
</script>

<style lang="scss">
	.container {
		max-width: 1400px;
	}

	.reassurance {
		@apply mx-auto xxl:-mt-20 xl:-mt-12 -mt-12 relative z-10 container;
	}
	.cta-container-centered {
		@apply flex flex-col sm:flex-row items-center justify-center gap-4 mt-8;
		.cta {
			@apply w-52 text-center items-center;
		}
	}
	.faqbox {
		@apply bg-powder py-24 text-white;
		.faqcontainer {
			@apply lg:w-2/3 md:w-3/5 rounded-md overflow-clip relative z-20;
		}

		.header-nova-box {
			@apply px-4 py-6 flex justify-center;
		}

		.novacontainer {
			@apply lg:w-1/3 md:w-2/5 rounded-lg relative md:self-start self-center
		flex flex-col md:justify-start justify-center items-center transition-all duration-300 ease-in-out opacity-100 translate-y-0;
			&.sticky {
				@apply md:top-0 transition-all md:mb-24 duration-300 ease-in-out md:opacity-95 md:translate-y-20;position: sticky;
			}

			.novainner {
				@apply pt-4 pb-12 bg-prussian-600 relative z-10 flex flex-col justify-center items-center self-center;
			}
			img {
				@apply w-full;
			}
			p {
				@apply px-4 py-6 text-center text-md;
			}
			.ask {
				@apply block text-center text-xl lg:text-xl xl:text-xxl uppercase font-bold mb-6;
			}
		}

		.glow::before,
		.glow::after {
			content: "";
			position: absolute;
			left: -2px;
			top: -2px;

			background: linear-gradient(
				45deg,
				#0dffd7,
				#0c67fa,
				#217eff,
				#00e1ff,
				#cff7ff,
				#23e9ff,
				#0055ff,
				#00d4f5,
				#0dffd7
			);
			background-size: 400%;
			width: calc(100% + 4px);
			height: calc(100% + 4px);

			animation: animate 60s linear infinite;
		}
		@keyframes animate {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 300% 0;
			}
			100% {
				background-position: 0 0;
			}
		}
		.glow:after {
			filter: blur(15px);
			opacity: 0.5;
		}
	}
</style>
