---
import { Image } from "astro:assets";
import Reassurance from "../components/Reassurance.astro";
import DepannageTop from "/src/assets/img/depannage-top.png";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroBoxMaintenance from "../components/HeroBoxMaintenance.astro";
import GaucheDroite from "../components/Gauche-Droite.astro";
import PixelSeparator from "../components/PixelSeparator.astro";
import * as animations from "../components/animations.js";
import logoGDM from "../assets/img/logo-gdm-white.svg";
import Accordion from "../components/Accordion.astro";
import NovaImage from "../assets/img/nova.png";
import Accelerateur from "../components/Accelerateur.astro";
import Footer from "../components/Footer.astro";
import DepannageBlogSlider from "../components/DepannageBlogSlider.astro";
import ProcessDepannageSlider from "../components/ProcessDepannageSlider.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
const customCrumbs = [
  {
   
  },
  {
    text: "Maintenance et dépannage",
    href: "/maintenance-depannage/"
  }
];
---

<Layout
	title="Maintenance & dépannage de site internet"
	description="GDM-Pixel, agence web à Caen, vous conseille et vous accompagne pour la création de votre identité visuelle.">
	<Header />
	<div class="bd-container">
		<Breadcrumbs crumbs={customCrumbs} transition:persist>
			<svg
				slot="index"
				xmlns="http://www.w3.org/2000/svg"
				height="1em"
				viewBox="0 0 576 512">
				<path
					d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
				></path>
			</svg>
			<svg
				slot="separator"
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round">
				<polyline points="9 18 15 12 9 6"></polyline>
			</svg>
		</Breadcrumbs>
	</div>
	<HeroBoxMaintenance />
	<main>
		<!-- REASSURANCE -->
		<div class="reassurance" transition:animate={animations.animInFromBottom}>
			<div class="grid lg:grid-cols-4 md:grid-cols-2 gap-8">
				<Reassurance
					title="Expérience et expertise"
					icon="fa-hat-wizard"
					body="13 ans d'expérience en création de sites"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Intervention rapide"
					icon="fa-rocket-launch"
					body="Nous intervenons sous 24h si votre prod est coupée"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Devis transparent"
					icon="fa-file-invoice"
					body="Pas de surprise, vous savez ce que vous réglez"
					color="prussian"
					size="normal"
				/>
				<Reassurance
					title="Travail sécurisé"
					icon="fa-shield-check"
					body="Vos identifiants ne sont pas conservés"
					color="prussian"
					size="medium"
				/>
			</div>
		</div>
		<!-- FIN DE REASSURANCE -->

		<GaucheDroite
			subtitle="A propos"
			title="Pas de panique, nous sommes là pour vous dépanner"
			intro="Nous intervenons rapidement sur votre site pour trouver l’origine de la panne et la résoudre."
			body="<p>Une panne de site, une faille de sécurité, ou un bug peut survenir à tout moment, et souvent au pire moment possible. </p><p>Chez GDM-Pixel, nous comprenons l'urgence et le stress que cela peut engendrer. C'est pourquoi nous proposons un service d'intervention rapide pour résoudre tous vos problèmes de maintenance de site web.</p><p>Vous pouvez être assuré que votre site est entre de bonnes mains. Demandez un rendez-vous en ligne ou appelez-nous maintenant pour une intervention dans les plus brefs délais.</p>  "
			imgsrc={DepannageTop}
			imgalt="Création de site E-commerce à Caen"
			reverse={false}
		/>

		<section
			class="row bg-gradient-to-b from-[#1B3751] to-[#232634] pt-24 pb-16 process">
			<div class="section-header dark">
				<span class="subtitle text-moonstone-400">Nos services</span>
				<h2 class="section-title">Notre processus de travail</h2>
				<PixelSeparator />
			</div>
			<ProcessDepannageSlider />
		</section>
		<section class="faqbox">
			<div class="container">
				<div class="section-header left">
					<span class="h6 text-moonstone-400 uppercase font-semibold mb-6 block"
						>FAQ</span
					>
					<h2 class="section-title">Réponses aux questions fréquentes</h2>
					<PixelSeparator />
				</div>

				<div class="row flex flex-col md:flex-row gap-6">
					<div class="faqcontainer shadow-md">
						<Accordion
							items={[
								{
									title:
										"Q : Pourquoi demandez-vous un paiement anticipé ?",
									answer:
										'<p>R : Parce que la plupart des interventions ne sont pas longues, n\'engagent pas de grosses sommes, et qu\'en cas d\'impayés, il n\'est absolument pas rentable d\'engager une procédure de recouvrement.</p><p>Et comme il nous est arrivé par le passé de procéder à des dépannages, mais ne pas avoir de paiement en retour, on ne prend plus de risque.</p>',
									isopen: true,
								},
								{
									title:
										"Q : Comment être sur que vous allez bien dépanner le site ?",
									answer:
										'<p>R : Avant de vous envoyer une proposition, nous vérifions que la panne est clairement identifiée, qu\'on peut la fixer rapidement, et qu\'on n\'est pas en présence d\'un cas que nous n\'avons pas déjà rencontré par le passé. Vous recevez donc une proposition adéquate. Nous ne faisons que des inteventions "sûres".</p>',
								},
								{
									title:
										"Q : Que se passe-t-il si vous ne parvenez pas à régler le problème ?",
									answer:
										"<p>R :  Tout est possible, mais ça n'est jamais arrivé. Et en cas de bug non résolu, nous avons une obligation de résultat sur ce type de procédure, donc vous êtes intégralement remboursé si nous ne résolvons pas le bug pour lequel vous nous avez contacté.</p><p>Nous travaillons sur le web depuis 2008, et nous avons une réputation à tenir, donc ne vous en faites pas : on fait tout ce qu'on peut pour rester digne de confiance !</p>",
								},
								{
									title:
										"Q : Quelles sont les pannes qu'on rencontre le plus fréquemment ?",
									answer:
										"<p>R : La plupart du temps, c'est un conflit de plugin, ou une erreur utilisateur. Gérer un site internet n'est pas une mince affaire, et il est courant de faire une faute d'inattention. Notre métier, c'est précisément de résoudre ce type de problème, et avec le temps, nous avons appris à trouver rapidement ce qui cloche, parfois avant même d'avoir eu accès à un site ou au serveur.</p>",
								},
								{
									title:
										"Q : Peut-on se dépanner soi-même ?",
									answer:
										"<p>R : Oui, et c'est justement comme cela qu'on apprend ! Nous avons mis à votre disposition des articles techniques pour que vous puissiez vous dépanner tout seul, mais parfois, il faut savoir transmettre le relais à quelqu'un de plus aguerri (il n'y a pas de honte à cela). Vous pouvez consulter notre blog pour en savoir plus à ce sujet.</p>",
								},
								{
									title:
										"Q : Sur quel type de CMS pouvez-vous intervenir ? Sur quelles problématiques ?",
									answer:
										'<p>R : Notre spécialité, c\'est surtout WordPress et Prestashop. Si vous êtes sur un CMS plus "exotique", comme Drupal, Joomla ou autres, nous préférons passer la main. Après, tout ce qui relève de PHP, HTML, CSS et Javascript, ou bien la configuration d\'un serveur web Apache, Nginx, Mysql etc, reste tout de même très accadémique, donc nous pouvons intervenir également.</p>',
								},
								{
									title:
										"Q : Et si c'est un problème logiciel ? Ou sur mon ordinateur ?",
									answer:
										"<p>R : On peut également procéder à ce type de diagnostique si vous êtes sur un environnement de travail Windows.</p>",
								},
								{
									title:
										"Q : Est-ce que vous prenez en charge les sites piratés ?",
									answer:
										"<p>R : Oui, et c'est même une de nos spécialités. Nous pouvons nettoyer votre site et vous proposer des solutions pour bien le sécuriser.</p>",
								},
							]}
						/>
					</div>
					<div class="novacontainer glow" transition:persist>
						<div class="novainner">
							<div class="header-nova-box">
								<Image
									src={logoGDM}
									width="230"
									height="40"
									alt="logo GDM-Pixel"
									loading="lazy"
								/>
							</div>
							<Image
								src={NovaImage}
								width="410"
								height="273"
								alt="Nova"
								loading="lazy"
							/>
							<p>Vous ne trouvez pas de réponse à votre question ?</p>
							<span class="ask">Demandez à NOVA</span>
							<button class="cta red" onclick="openNova()"
								>Posez votre question</button
							>
						</div>
					</div>
				</div>
			</div>
		</section>
		<Accelerateur />
		<DepannageBlogSlider />	
	</main>
	<Footer />
</Layout>
<script>
	function setup() {
		window.addEventListener("scroll", function () {
			var novacontainer = document.querySelector(".novacontainer");
			if (novacontainer) {
				var rect = novacontainer.getBoundingClientRect();
				var isCloseToTop = rect.top <= 10;
				novacontainer.classList.toggle("sticky", isCloseToTop);
			}
		});
	}
	document.addEventListener("DOMContentLoaded", setup);
	document.addEventListener("astro:page-load", setup);
</script>

<style lang="scss">
	.container {
		max-width: 1400px;
	}

	.reassurance {
		@apply mx-auto xxl:-mt-20 xl:-mt-12 -mt-12 relative z-10 container;
	}
	.cta-container-centered {
		@apply flex flex-col sm:flex-row items-center justify-center gap-4 mt-8;
		.cta {
			@apply w-52 text-center items-center;
		}
	}
	.faqbox {
		@apply bg-powder py-24 text-white;
		.faqcontainer {
			@apply lg:w-2/3 md:w-3/5 rounded-md overflow-clip relative z-20;
		}

		.header-nova-box {
			@apply px-4 py-6 flex justify-center;
		}

		.novacontainer {
			@apply lg:w-1/3 md:w-2/5 rounded-lg relative md:self-start self-center
		flex flex-col md:justify-start justify-center items-center transition-all duration-300 ease-in-out opacity-100 translate-y-0;
			&.sticky {
				@apply md:top-0 transition-all md:mb-24 duration-300 ease-in-out md:opacity-95 md:translate-y-20;
				position: sticky;
			}

			.novainner {
				@apply pt-4 pb-12 bg-prussian-600 relative z-10 flex flex-col justify-center items-center self-center;
			}
			img {
				@apply w-full;
			}
			p {
				@apply px-4 py-6 text-center text-md;
			}
			.ask {
				@apply block text-center text-xl lg:text-xl xl:text-xxl uppercase font-bold mb-6;
			}
		}

		.glow::before,
		.glow::after {
			content: "";
			position: absolute;
			left: -2px;
			top: -2px;

			background: linear-gradient(
				45deg,
				#0dffd7,
				#0c67fa,
				#217eff,
				#00e1ff,
				#cff7ff,
				#23e9ff,
				#0055ff,
				#00d4f5,
				#0dffd7
			);
			background-size: 400%;
			width: calc(100% + 4px);
			height: calc(100% + 4px);

			animation: animate 60s linear infinite;
		}
		@keyframes animate {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 300% 0;
			}
			100% {
				background-position: 0 0;
			}
		}
		.glow:after {
			filter: blur(15px);
			opacity: 0.5;
		}
	}
</style>
