---
import { Image } from "astro:assets";
import logoGDM from "../assets/img/logo-gdm-white.svg";
import NovaImage from "../assets/img/nova.png";
import IntroCreasite from "../assets/img/intro-creasite.png";
import MainSEA from "../assets/img/main-sea.png";
import MainSEM from "../assets/img/main-sem.png";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroBoxSEO from "../components/HeroBoxSEO.astro";
import Reassurance from "../components/Reassurance.astro";
import GaucheDroite from "../components/Gauche-Droite.astro";
import PixelSeparator from "../components/PixelSeparator.astro";
import TabNavigationSEO from "../components/TabNavigationSEO.jsx";
import TabNavigationSEA from "../components/TabNavigationSEA.jsx";
import TabNavigationSEM from "../components/TabNavigationSEM.jsx";
import MainCTA from "../components/MainCTA.astro";
import Accordion from "../components/Accordion.astro";
import Footer from "../components/Footer.astro";
import * as animations from "../components/animations.js";
import SEOBlogSlider from "../components/SEOBlogSlider.astro";
import CaseStudySlider from "../components/CaseStudySlider.astro";
import ProcessTravailSlider from "../components/ProcessTravailSlider.astro";
import TestimonialSlider from "../components/TestimonialSlider.astro";
import CTABand from "../components/CTABand.astro";
import AmbitiousMan from "../assets/img/ambitiousman.png";
import SEODataCenter from "../assets/img/seo-data-center.png";
import Accelerateur from "../components/Accelerateur.astro";
import TestimonialsBand from "../components/TestimonialsBand.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
const customCrumbs = [
  {
   
  },
  {
    text: "SEO, SEA et SEM",
    href: "/referencement/"
  }
];
---

<Layout
	title="SEO à Caen : votre agence en Normandie"
	description="Vous avez besoin de plus de visibilité sur le web ? D'un audit SEO ? Ou d'améliorer le trafic sur votre boutique en ligne ? Découvrez nos services !">
	<Header />
	<div class="bd-container">
		<Breadcrumbs crumbs={customCrumbs} transition:persist>
			<svg
				slot="index"
				xmlns="http://www.w3.org/2000/svg"
				height="1em"
				viewBox="0 0 576 512">
				<path
					d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
				></path>
			</svg>
			<svg
				slot="separator"
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round">
				<polyline points="9 18 15 12 9 6"></polyline>
			</svg>
		</Breadcrumbs>
	</div>
	<HeroBoxSEO />
	<main>
		<!-- REASSURANCE -->
		<div class="reassurance" transition:animate={animations.animInFromBottom}>
			<div class="grid lg:grid-cols-4 md:grid-cols-2 gap-8">
				<Reassurance
					title="Expérience et expertise"
					icon="fa-hat-wizard"
					body="15 ans d'expérience dans la conception web"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Solutions complètes"
					icon="fa-layer-group"
					body="Du référencement au marketing, une stratégie digitale complète."
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Stratégies Big Data"
					icon="fa-chart-mixed"
					body="Des décisions éclairées par des données fiables pour plus d’efficacité"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Approche Sur Mesure"
					icon="fa-list-check"
					body="Solutions sur mesure correspondant à vos besoins "
					color="prussian"
					size="medium"
				/>
			</div>
		</div>
		<!-- FIN DE REASSURANCE -->

		<GaucheDroite
			subtitle="A propos"
			title="Votre site a besoin d'une stratégie pour briller sur le web."
			intro="Un site web n'est que le point de départ ; c'est la stratégie qui crée l'impact."
			body="<p>Accélérer sa croissance en ligne est un défi à plusieurs facettes. Chez GDM-Pixel, nous comprenons que posséder un site web n'est que la première étape. Ce qui fait vraiment la différence, c'est <strong>une stratégie digitale solide qui englobe le SEO, SEA et SEM</strong>. </p><p>Nous vous aidons à maximiser votre visibilité en ligne <strong>grâce à des solutions personnalisées</strong>, qui vont bien au-delà de la simple création d'un site. </p><p>Découvrez comment notre expertise en référencement naturel, en publicité en ligne et en marketing des moteurs de recherche peut vous aider <strong>à atteindre vos objectifs et à transformer vos visiteurs en clients fidèles</strong>.</p>"
			imgsrc={AmbitiousMan}
			imgalt="Création de site internet à Caen"
			reverse={true}
		/>
		<section
			class="nos-services bg-gradient-to-b from-[#1B3751] to-[#232634] px-6 py-24">
			<div class="section-header dark">
				<span class="subtitle text-moonstone-400"
					>Nos Services EN SEO, SEA et SEM</span
				>
				<h2 class="section-title">
					SEO / SEA / SEM : que veulent dire tous ces acronymes ?
				</h2>
				<PixelSeparator />
				<p class="intro font-bold text-lg">
					On vous fait un petit topo pour que vous compreniez tous les enjeux
					pour vous et votre activité.
				</p>
			</div>

			<div class="tabnav top text-center mx-auto px-8">
				<button  aria-label="Onglet SEO" data-target="whatisseo" class="tabbtn seo-tab active">SEO</button>
				<button  aria-label="Onglet SEA" data-target="whatissea" class="tabbtn sea-tab">SEA</button>
				<button  aria-label="Onglet SEM" data-target="whatissem" class="tabbtn sem-tab">SEM</button>
			</div>
			<div class="tab-content mx-auto relative h-auto max-w-7xl p-0">
				<div id="whatisseo" class="tabcontentEl active">
					<div class="gauche-droite">
						<div class="lg:flex lg:flex-row gap-8 mb-12">
							<div class="col lg:w-1/2">
								<h2>SEO : l’optimisation pour les moteurs de recherche</h2>
								<p>
									Le SEO, ou <strong>Search Engine Optimization</strong>, est
									l'art de positionner un site web dans les premiers résultats
									des moteurs de recherche.
								</p>
								<p>
									Plus qu'une simple série de techniques, c'est une <strong
										>stratégie globale</strong
									> qui vise à <strong
										>améliorer la visibilité et l'accessibilité d'un site</strong
									>.
								</p>
								<p>
									Chez GDM-Pixel, nous nous concentrons sur l'optimisation de
									tous les aspects, des méta-descriptions aux backlinks, afin de


									<strong
										>créer une expérience utilisateur exceptionnelle</strong
									>. L'objectif ? Convertir vos visiteurs en clients fidèles <strong
										>tout en boostant votre présence en ligne</strong
									>.
								</p>
							</div>
							<div class="col lg:w-1/2 lg:mt-0 mt-8">
								<Image src={SEODataCenter} alt="SEO Data Center" height="381" width="629" loading="lazy"/>
							</div>
						</div>
					</div>
					<div class="xxx">
						<h2 class="text-center text-white mb-8">Nos prestations en SEO</h2>
						<TabNavigationSEO client:idle />
					</div>
				</div>

				<div id="whatissea" class="tabcontentEl">
					<div class="gauche-droite">
						<div class="lg:flex lg:flex-row gap-8 mb-12">
							<div class="col lg:w-1/2">
								<h2>
									SEA : faire de la publicité sur les moteurs de recherche
								</h2>
								<p>
									Le SEA, ou <strong>Search Engine Advertising</strong>, est la clé pour une visibilité immédiate dans les résultats des moteurs de recherche grâce à la publicité payante.
								</p>
								<p>
								Contrairement au SEO, qui joue sur le long terme, le SEA offre des résultats instantanés et mesurables. Nous créons et gérons efficacement toutes vos campagnes publicitaires ciblées.
								</p>
								<p>
									Nous optimisons vos annonces pour atteindre les audiences les plus pertinentes, maximisant ainsi le retour sur investissement. Notre objectif ? Augmenter votre visibilité, attirer du trafic qualifié vers votre site et accélérer votre croissance en ligne..
								</p>
							</div>
							<div class="col lg:w-1/2 lg:mt-0 mt-8">
								<Image src={MainSEA} alt="SEA consultant" width="629" height="381" loading="lazy" />
							</div>
						</div>
					</div>
					<div class="xxx">
						<h2 class="text-center text-white mb-8">Nos prestations en SEA</h2>
						<TabNavigationSEA client:idle />
					</div>
				</div>

				<div id="whatissem" class="tabcontentEl">
					<div class="gauche-droite">
						<div class="lg:flex lg:flex-row gap-8 mb-12">
							<div class="col lg:w-1/2">
								<h2>
									SEM : vers une approche globale du marketing sur les moteurs
									de recherche
								</h2>
								<p>
								Le SEM, ou Search Engine Marketing, est l'art d'utiliser les moteurs de recherche comme levier de croissance.
								</p>
								<p>
								Nous combinons SEO et publicités ciblées pour propulser votre site en première ligne des résultats de recherche. Notre approche holistique vise à optimiser chaque aspect de votre présence en ligne, assurant ainsi un trafic qualifié et un taux de conversion optimisé. Notre objectif ? Faire de votre marque une référence incontournable sur le web.
								</p>
							</div>
							<div class="col lg:w-1/2 lg:mt-0 mt-8">
								<Image src={MainSEM} alt="SEM consultant" width="629" height="381" loading="lazy" />
							</div>
						</div>
					</div>
					<div class="container">
						<h2 class="text-center text-white mb-8">Nos prestations en SEM</h2>
						<TabNavigationSEM client:idle />
					</div>
				</div>
			</div><!--	FIN DE TABCONTENT -->
			<div class="tabnav bottom text-center mx-auto px-8">
				<button aria-label="Onglet SEO" data-target="whatisseo" class="tabbtn seo-tab active">SEO</button>
				<button aria-label="Onglet SEA" data-target="whatissea" class="tabbtn sea-tab">SEA</button>
				<button aria-label="Onglet SEM" data-target="whatissem" class="tabbtn sem-tab">SEM</button>
			</div>
		</section>

		<section class="faqbox">
			<div class="container">
				<div class="section-header left">
					<span class="h6 text-moonstone-400 uppercase font-semibold mb-6 block"
						>FAQ</span
					>
					<h2 class="section-title">Réponses aux questions fréquentes</h2>
					<PixelSeparator />
				</div>

				<div class="row flex flex-col md:flex-row gap-6">
					<div class="faqcontainer shadow-md">
						<Accordion
							items={[
								{
									title: "Q : Quelle est la différence entre SEO, SEA et SEM ?",
									answer:
										"<p>R : Le SEO, également connu sous le nom d'optimisation pour les moteurs de recherche, est une technique qui vise à améliorer le classement naturel d'un site web dans les résultats de recherche. Il s'agit d'optimiser différents aspects du site, tels que les mots-clés, la structure du site et les liens entrants, afin d'obtenir une meilleure visibilité sur les moteurs de recherche.</p><p>D'un autre côté, le SEA, ou la publicité sur les moteurs de recherche, est une méthode payante pour promouvoir un site web. Dans ce cas, vous payez pour apparaître dans les résultats de recherche sponsorisés. Cela peut être une stratégie efficace pour obtenir rapidement plus de trafic vers votre site, mais cela nécessite également un investissement financier.</p><p>Enfin, le SEM, ou le marketing sur les moteurs de recherche, englobe à la fois le SEO et le SEA. Il s'agit d'une approche globale qui combine ces deux techniques pour maximiser la visibilité et la performance d'un site web sur les moteurs de recherche. En utilisant une combinaison de stratégies organiques et payantes, le SEM vise à atteindre les meilleurs résultats possibles en termes de trafic et de conversions.</p><p>En résumé, le SEO se concentre sur l'optimisation du classement naturel d'un site web, le SEA consiste à payer pour apparaître dans les résultats de recherche et le SEM rassemble ces deux techniques dans une stratégie globale de marketing sur les moteurs de recherche.</p>",
									isopen: true,
								},
								{
									title:
										"Q : Combien de temps faut-il pour voir les résultats du SEO ?",
									answer:
										"<p>R : Les résultats du SEO, connu sous le nom d'optimisation des moteurs de recherche, peuvent varier considérablement d'un site à l'autre. En effet, il n'y a pas de formule magique qui garantit un succès immédiat. Il faut généralement attendre de 3 à 6 mois avant de pouvoir observer des changements significatifs dans le classement d'un site sur les moteurs de recherche tels que Google.</p><p>Cette période d'attente peut sembler longue pour certains, mais il est important de comprendre que le référencement naturel est un processus complexe et progressif. De nombreux facteurs entrent en jeu lorsqu'il s'agit de positionner un site web en tête des résultats de recherche.</p><p>La concurrence est l'un de ces facteurs clés. Si votre secteur d'activité est très compétitif et que de nombreux autres sites web tentent également d'atteindre le sommet des résultats de recherche, il est probable que cela prendra plus de temps pour obtenir des résultats tangibles.</p><p>La qualité du contenu est également un élément crucial à prendre en compte. Les moteurs de recherche accordent une grande importance à la pertinence et à la valeur du contenu d'un site web. Si votre site propose un contenu de qualité, utile et informatif pour vos visiteurs, cela aura un impact positif sur votre référencement.</p><p>Enfin, l'âge du site peut également jouer un rôle dans le temps nécessaire pour obtenir des résultats significatifs. Les moteurs de recherche ont tendance à accorder une certaine confiance aux sites plus anciens, car ils sont considérés comme plus établis et fiables. Si votre site est récent, il peut donc prendre un peu plus de temps pour gagner en visibilité.</p><p>En résumé, bien que le délai de 3 à 6 mois puisse sembler long, il est important d'être patient et de continuer à travailler sur l'optimisation de votre site pour obtenir les meilleurs résultats en termes de référencement naturel.</p>",
								},
								{
									title: "Q : Comment choisissez-vous les mots-clés pour une campagne SEA ?",
									answer:
										"<p>R : Dans notre processus de sélection des mots-clés, nous prenons en considération plusieurs facteurs clés pour garantir leur pertinence et leur efficacité pour votre entreprise. En premier lieu, nous examinons attentivement le lien entre les mots-clés et votre activité, en nous assurant qu'ils reflètent fidèlement vos produits ou services. De plus, nous analysons le volume de recherche associé à chaque mot-clé, afin de nous assurer qu'il y a une demande suffisante pour justifier son utilisation. La compétitivité est également un aspect crucial que nous évaluons, en tenant compte du niveau de concurrence existant pour chaque mot-clé. Enfin, nous accordons une attention particulière à l'intention de recherche des utilisateurs, en nous assurant que les mots-clés sélectionnés correspondent aux attentes et aux besoins des internautes. Pour réaliser cette analyse approfondie, nous utilisons des outils de recherche de mots-clés avancés et nous suivons attentivement les tendances du marché pour identifier les mots-clés les plus performants.</p>",
								},
								{
									title:
										"Q : Le SEO est-il toujours pertinent avec les dernières mises à jour des algorithmes des moteurs de recherche ?",
									answer:
										"<p>R : Absolument. Le SEO continue d'être crucial malgré les changements d'algorithmes, qui sont régulièrement mis à jour dans le but d'améliorer la qualité des résultats de recherche. Par conséquent, une stratégie SEO bien conçue et axée sur un contenu de qualité et une expérience utilisateur optimale demeure extrêmement efficace. En effet, en adoptant une approche proactive en matière de référencement, les entreprises peuvent s'assurer que leur site web apparaît en tête des classements de recherche, ce qui peut entraîner une augmentation significative du trafic organique.</p><p>En outre, en se concentrant sur la création de contenu pertinent et informatif, les marques peuvent renforcer leur crédibilité et leur autorité dans leur domaine d'activité. De plus, une expérience utilisateur fluide et agréable contribue non seulement à améliorer le classement du site web, mais aussi à fidéliser les visiteurs et à les inciter à revenir régulièrement. En somme, malgré les évolutions constantes dans le domaine du référencement, il est indéniable que le SEO reste un outil essentiel pour les entreprises souhaitant se démarquer en ligne et atteindre leur public cible de manière efficace et durable.</p>",
								},
								{
									title: "Q : Quel est le ROI (retour sur investissement) attendu d'une campagne SEM ?",
									answer:
										"<p>R : Le retour sur investissement (ROI) d'une campagne SEM peut varier considérablement selon divers facteurs, tels que l'industrie dans laquelle elle est menée, le niveau de compétitivité des mots-clés sélectionnés et la qualité de l'exécution de ladite campagne. En effet, il est essentiel de souligner que les résultats d'une campagne bien gérée peuvent être significatifs en termes de ROI. Toutefois, il convient de noter qu'il est primordial de fixer des attentes réalistes dès le départ et de suivre régulièrement les performances afin de pouvoir évaluer de manière adéquate les résultats obtenus. Cela permettra ainsi d'ajuster les stratégies si nécessaire et d'optimiser le retour sur investissement à long terme.</p>",
								},
								{
									title:
										"Q : Comment mesurez-vous le succès d'une campagne SEO ou SEA ?",
									answer:
										"<p>R : Le succès d'une entreprise est souvent évalué en utilisant des KPIs, également connus sous le nom d'indicateurs clés de performance. Ces KPIs permettent de mesurer divers aspects de l'activité, tels que le trafic généré sur le site web, le classement des mots-clés dans les moteurs de recherche, le taux de conversion des visiteurs en clients, et le retour sur investissement. Pour suivre ces indicateurs, nous utilisons des outils d'analyse sophistiqués qui nous permettent de collecter et d'analyser les données en temps réel. Grâce à ces informations, nous pouvons ajuster nos stratégies de marketing et de vente pour maximiser notre efficacité et atteindre nos objectifs commerciaux. Cela nous permet de rester compétitifs sur le marché et de répondre aux attentes de nos clients de manière proactive. En résumé, les KPIs sont un outil essentiel pour mesurer et améliorer la performance d'une entreprise dans un environnement commercial en constante évolution.</p>",
								},
								{
									title: "Q : Le SEA affecte-t-il le SEO ?",
									answer:
										"<p>R : Le référencement SEA et le référencement SEO sont deux domaines distincts, mais ils peuvent interagir de manière indirecte. Bien que le SEA n'ait pas d'impact direct sur le SEO, une campagne publicitaire réussie peut générer plus de trafic vers un site web, ce qui peut indirectement améliorer son référencement naturel. En effet, en attirant davantage de visiteurs vers un site, cela peut augmenter sa visibilité en ligne et potentiellement augmenter le nombre de liens entrants, ce qui est un facteur important pour le SEO. De plus, une campagne SEA bien exécutée peut renforcer la notoriété d'une marque, ce qui peut également avoir un impact positif sur les performances SEO. En conclusion, bien que les deux domaines soient gérés séparément, une stratégie coordonnée qui intègre à la fois le référencement SEA et le référencement SEO peut être bénéfique pour améliorer la visibilité et les performances globales d'un site web.</p>",
								},
								{
									title: "Q : Comment restez-vous à jour avec les tendances du SEO et du SEM ?",
									answer:
										"<p>R : Nous nous efforçons de rester constamment à jour avec les dernières tendances et développements de l'industrie en suivant régulièrement les blogs spécialisés. De plus, nous nous engageons activement dans le partage de connaissances en participant à des conférences et des événements pertinents. Notre volonté de rester à l'avant-garde se reflète également dans notre engagement à nous former continuellement sur les pratiques les plus récentes. En expérimentant constamment avec de nouvelles techniques et stratégies, nous nous assurons d'être toujours prêts à répondre aux défis changeants de notre industrie dynamique.</p>",
								},
								{
									title:
										"Q : Quels outils utilisez-vous pour le SEO et le SEA ?",
									answer:
										"<p>R : Nous utilisons une variété d'outils pour nos différentes activités liées au marketing en ligne. Parmi ces outils, nous pouvons citer Google Analytics, Google Ads, SEMrush, Ahrefs et Moz. Chacun de ces outils nous permet de réaliser des tâches spécifiques et essentielles pour notre entreprise. Par exemple, grâce à Google Analytics, nous pouvons analyser le comportement des utilisateurs sur notre site web, ce qui nous aide à mieux comprendre nos visiteurs et à optimiser notre contenu en conséquence. De même, avec Google Ads, nous pouvons créer et gérer nos campagnes publicitaires en ligne, ce qui nous permet d'atteindre notre public cible de manière efficace.</p><p>En ce qui concerne la recherche de mots-clés et le suivi du classement, nous nous appuyons sur des outils tels que SEMrush, Ahrefs et Moz. Ces outils nous aident à identifier les mots-clés les plus pertinents pour notre activité et à suivre le classement de notre site web par rapport à ces mots-clés. Enfin, l'analyse de la concurrence est également un aspect important de notre stratégie marketing.</p><p>Grâce à des outils tels que SEMrush et Ahrefs, nous pouvons surveiller les performances de nos concurrents et identifier de nouvelles opportunités pour améliorer notre positionnement sur le marché. En somme, ces différents outils jouent un rôle essentiel dans notre approche globale du marketing en ligne et nous permettent de prendre des décisions éclairées pour optimiser nos campagnes et atteindre nos objectifs commerciaux.</p>",
								},
								{
									title:
										"Q : Comment gérez-vous les changements d'algorithme imprévus dans vos stratégies SEO/SEA ?",
									answer:
										"<p>R : Nous sommes constamment en train de surveiller attentivement les mises à jour d'algorithme pour garantir que nos stratégies s'adaptent rapidement à ces changements. Notre approche est toujours axée sur la création de contenu de qualité supérieure et sur la fourniture d'une expérience utilisateur exceptionnelle. En mettant l'accent sur ces aspects, nous parvenons à minimiser les effets négatifs que les mises à jour d'algorithme pourraient avoir sur notre activité. Nous nous efforçons donc de rester à la pointe des dernières évolutions technologiques et des tendances du marché, afin de continuer à offrir à nos utilisateurs une expérience optimale. Grâce à notre vigilance constante et à notre capacité d'adaptation rapide, nous sommes en mesure de maintenir notre position de leader dans notre domaine, tout en préservant la satisfaction de nos utilisateurs.</p>",
								},
							]}
						/>
					</div>
					<div class="novacontainer glow" transition:persist>
						<div class="novainner">
							<div class="header-nova-box">
								<Image
									src={logoGDM}
									width="230"
									height="40"
									alt="logo GDM-Pixel"
									loading="lazy"
								/>
							</div>
							<Image
								src={NovaImage}
								width="410"
								height="273"
								alt="Nova"
								loading="lazy"
							/>
							<p>Vous ne trouvez pas de réponse à votre question ?</p>
							<span class="ask">Demandez à NOVA</span>
							<button aria-label="Poser une question à Nova" class="cta red" onclick="openNova()"
								>Posez votre question</button
							>
						</div>
					</div>
				</div>
			</div>
		</section>
		<Accelerateur />

		<TestimonialsBand />

<MainCTA />
<section>
			<SEOBlogSlider />
		</section>

	</main>
	<Footer />
</Layout>
<script>
	function setup() {
		window.addEventListener("scroll", function () {
			var novacontainer = document.querySelector(".novacontainer");
			if (novacontainer) {
				var rect = novacontainer.getBoundingClientRect();
				var isCloseToTop = rect.top <= 10;
				novacontainer.classList.toggle("sticky", isCloseToTop);
			}
		});
	}
	document.addEventListener("DOMContentLoaded", setup);
	document.addEventListener("astro:page-load", setup);
</script>
<script>
	function attachTabClickHandlers() {
		const tabs = document.querySelectorAll(".tabbtn");
		tabs.forEach((tab) => {
			tab.removeEventListener("click", handleTabClick); 
			tab.addEventListener("click", (event) => handleTabClick(event));
		});
	}
	//@ts-ignore
	function handleTabClick(event) {
		const clickedTab = event.currentTarget;
		const targetId = clickedTab.getAttribute("data-target"); // Utilisez un attribut de données pour la cible
		const tabs = document.querySelectorAll(".tabbtn");
		const tabContents = document.querySelectorAll(".tabcontentEl");

		tabs.forEach((tab) => {
			if (tab.getAttribute("data-target") === targetId) {
				tab.classList.add("active");
			} else {
				tab.classList.remove("active");
			}
		});

		tabContents.forEach((tabContent) => {
			tabContent.classList.toggle("active", tabContent.id === targetId);
		});
	}

	attachTabClickHandlers();
	// Attachez les gestionnaires d'onglets lorsque le DOM est prêt
	document.addEventListener("DOMContentLoaded", attachTabClickHandlers);
	// Réattachez les gestionnaires d'onglets sur les événements de navigation d'Astro
	document.addEventListener("astro:page-load", attachTabClickHandlers);
</script>
<style lang="scss">
	.whatisseo {
		h2 {
			@apply text-white mb-4 leading-snug;
		}
		p {
			@apply text-base text-white mb-3;
			&:last-of-type {
				@apply mb-0;
			}
		}
	}
	.reassurance {
		@apply mx-auto xxl:-mt-20 xl:-mt-12 -mt-12 relative z-10 container;
	}
	.tab-content {
		@apply  p-10 bg-transparent border-4 border-dashed border-moonstone-300 rounded-xl overflow-clip;
	}
	.tabnav {
		@apply z-20 relative flex justify-center items-center gap-4;
	}
	.tabnav.top {
		@apply -mb-5;
	}
	.tabnav.bottom {
		@apply -mt-5;
	}
	.tabbtn {
		@apply text-white bg-gradient-to-tl from-[#00B2CB] to-[#86E8F5] transition-all duration-300 rounded-md md:text-md sm:text-base text-[16px] px-8 sm:px-16 py-1 font-semibold border border-white;
		&:hover {
			@apply cursor-pointer text-white bg-gradient-to-tl from-[#DA2D50] to-[#FF9AAE] transition-all duration-200;
		}
	}
	.tabbtn.active {
		@apply text-white bg-gradient-to-tl from-dustyred-800 to-dustyred-300;
	}
	.tabcontentEl {
		@apply z-10;
	}
	.tabcontentEl.active {
		@apply z-20;
	}
	.tab-content .gauche-droite .col {
		@apply flex flex-col justify-center text-white;
		p {
			@apply text-base mb-3 leading-7;
		}
	}
	#whatisseo, #whatissea, #whatissem {
    opacity: 0;
	height:0;
	transform: scale(0.85) translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, height 10ms linear;
}

#whatisseo.active, #whatissea.active, #whatissem.active {
    opacity: 1;
	height:fit-content;
    transform: scale(1) translateY(0px);
	transition: opacity 0.3s ease, transform 0.3s ease, height 10ms linear;
}

	.faqbox {
		@apply bg-white py-24 text-white; 
		.faqcontainer {
			@apply lg:w-2/3 md:w-3/5 rounded-md overflow-clip relative z-20;
		}

		.header-nova-box {
			@apply px-4 py-6 flex justify-center;
		}

		.novacontainer {
			@apply lg:w-1/3 md:w-2/5 rounded-lg relative md:self-start self-center
		flex flex-col md:justify-start justify-center items-center transition-all duration-300 ease-in-out opacity-100 translate-y-0;
			&.sticky {
				@apply md:top-0 transition-all md:mb-24 duration-300 ease-in-out md:opacity-95 md:translate-y-20;
				position: sticky;
			}

			.novainner {
				@apply pt-4 pb-12 bg-prussian-600 relative z-10 flex flex-col justify-center items-center self-center;
			}
			img {
				@apply w-full;
			}
			p {
				@apply px-4 py-6 text-center text-md;
			}
			.ask {
				@apply block text-center text-xl lg:text-xl xl:text-xxl uppercase font-bold mb-6;
			}
		}

		.glow::before,
		.glow::after {
			content: "";
			position: absolute;
			left: -2px;
			top: -2px;

			background: linear-gradient(
				45deg,
				#0dffd7,
				#0c67fa,
				#217eff,
				#00e1ff,
				#cff7ff,
				#23e9ff,
				#0055ff,
				#00d4f5,
				#0dffd7
			);
			background-size: 400%;
			width: calc(100% + 4px);
			height: calc(100% + 4px);

			animation: animate 60s linear infinite;
		}
		@keyframes animate {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 300% 0;
			}
			100% {
				background-position: 0 0;
			}
		}
		.glow:after {
			filter: blur(15px);
			opacity: 0.5;
		}
	}
</style>
