---
import { Image } from "astro:assets";
import HeroBoxWebmarketing from "../components/HeroBoxWebmark.astro"
import Reassurance from "../components/Reassurance.astro";
import WebmarketingTop from "/src/assets/img/webmarketing-top.png";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import GaucheDroite from "../components/Gauche-Droite.astro";
import FlipBox from "../components/FlipBox.astro";
import PixelSeparator from "../components/PixelSeparator.astro";
import * as animations from "../components/animations.js";
import logoGDM from "../assets/img/logo-gdm-white.svg";
import Accordion from "../components/Accordion.astro";
import NovaImage from "../assets/img/nova.png";
import CTABand from "../components/CTABand.astro";
import Testislider from "../components/Testislider.astro";
import MainCTA from "../components/MainCTA.astro";
import Accelerateur from "../components/Accelerateur.astro";
import Footer from "../components/Footer.astro";
import logoAden from "../assets/img/logo-aden-formation.png";
import logoLesClapiottes from "../assets/img/logo-les-clapiottes.png";
import logoMDS from "../assets/img/logo-my-digital-school.png";
import logoBoutiqueChientChat from "../assets/img/logo-atout-chat-chien.png";
import logoOpenMindInnovation from "../assets/img/logo-open-mind-innovation.png";
import logoSEOCamp from "../assets/img/logo-seo-camp.png";
import logoAnahataYoga from "../assets/img/logo-anahata-yoga.png";
import logoLaCasiniere from "../assets/img/logo-la-casiniere.png";
import logoEurodisViande from "../assets/img/logo-eurodis-viande.png";
import WebmarkBlogSlider from "../components/WebmarkBlogSlider.astro";
import TabNavigationWebmark from "../components/TabNavigationWebmark.jsx";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
const customCrumbs = [
  { text: "Accueil", href: "/" },
  {
    text: "Webmarketing",
    href: "/webmarketing/"
  }
];
---

<Layout
	title="Agence webmarketing à Caen : définir une stratégie de contenu"
	description="Vous avez un site, du trafic, mais les résultats ne sont pas là ? Un changement de cap dans votre stratégie webmarketing changera la donne !">
	<Header />
	<div class="bd-container">
		<Breadcrumbs crumbs={customCrumbs} transition:persist>
			<svg
				slot="index"
				xmlns="http://www.w3.org/2000/svg"
				height="1em"
				viewBox="0 0 576 512">
				<path
					d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
				></path>
			</svg>
			<svg
				slot="separator"
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round">
				<polyline points="9 18 15 12 9 6"></polyline>
			</svg>
		</Breadcrumbs>
	</div>
	<HeroBoxWebmarketing />

	<main>
		<!-- REASSURANCE -->
		<div class="reassurance" transition:animate={animations.animInFromBottom}>
			<div class="grid lg:grid-cols-4 md:grid-cols-2 gap-8">
				<Reassurance
					title="Expérience et expertise"
					icon="fa-hat-wizard"
					body="13 ans d'expérience en création de sites E-commerce"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Approche Sur Mesure"
					icon="fa-ruler"
					body="Solutions sur mesure correspondant à vos besoins "
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Solutions éprouvées"
					icon="fa-file-certificate"
					body="Nous utilisons les meilleurs outils disponibles sur le marché"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Confidentialité totale"
					icon="fa-file-contract"
					body="Protocoles de sécurité stricts pour vos données"
					color="prussian"
					size="normal"
				/>
			</div>
		</div>
		<!-- FIN DE REASSURANCE -->

		<GaucheDroite
			subtitle="Notre approche du webmarketing"
			title="Gagnez en visibilité tout en convertissant d’avantage"
			intro="La qualité de votre site ne doit pas être sacrifiée sur l’autel du trafic à tout prix"
			body="<p>Dans le monde numérique d'aujourd'hui, une bonne stratégie de marketing en ligne est plus qu'essentielle. </p><p>Que vous cherchiez à augmenter le trafic vers votre site, à améliorer votre taux de conversion, ou à maximiser le ROI de vos campagnes publicitaires, GDM-Pixel vous offre <strong>des solutions sur mesure en webmarketing qui vous mèneront vers le succès</strong>.</p><p>Tout ceci sans spam, sans approche douteuse, et sans compromettre l’image de votre entreprise.</p>  "
			imgsrc={WebmarketingTop}
			imgalt="Agence webmarketing à Caen"
			reverse={true}
		/>

		<!-- REASSURANCE -->
		<div class="row bg-gradient-to-b from-[#1B3751] to-[#232634] py-24">
			<div class="container">
				<div class="section-header dark">
					<span class="subtitle text-moonstone-400">Pourquoi faire appel à nous</span>
					<h2 class="section-title">
						Comment nous pouvons faire la différence pour votre activité
					</h2>
					
					<PixelSeparator />
					<p class="text-lg">Nos prestations 360° vous permettent d'être visible sur tout type de support électronique.</p>
				</div>
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
					<FlipBox
						title="Approche personnalisée"
						bodyFront="Des stratégies adaptées à vos besoins et à votre budget."
						bodyBack="Des solutions sur mesure qui respectent vos contraintes."
						icon="fa-user-gear"
						color="moonstone"
					/>
					<FlipBox
						title="Expertise multi-canal"
						bodyFront="De l'emailing aux réseaux sociaux, de la vidéo au blogging."
						bodyBack="Nous adaptons vos contenus pour toucher votre audience cible."
						icon="fa-chart-network"
						color="moonstone"
					/>
					<FlipBox
						title="Transparence totale"
						bodyFront="Suivi complet et rapports détaillés pour une visibilité totale"
						bodyBack="Reporting régulier pour mesurer les performances de vos campagnes."
						icon="fa-eye"
						color="moonstone"
					/>
					<FlipBox
						title="Résultats mesurables"
						bodyFront="Des indicateurs clairs pour suivre votre retour sur investissement"
						bodyBack="Des métriques pertinentes pour évaluer l'impact de nos actions."
						icon="fa-gauge-high"
						color="moonstone"
					/>
				</div>
				
				<div class="cta-container-centered">
					<button class="cta blue novabtn">Poser une question</button><a
						href="/contact/"
						class="cta red">Nous contacter</a
					>
				</div>
			</div>
		</div>

		<section class="row my-20 webmarkservices">
			<div class="container">
				<div class="section-header">
					<span class="h6 text-dustyred-400 uppercase font-bold mb-6"
						>Nos services</span
					>
					<h2 class="section-title">
						Nos prestations en matière de création de site, webmarketing et web
					</h2>
					<PixelSeparator />
				</div>
			</div>
			<div class="container wide">
				<div class="grid grid-cols-6 gap-20"></div>
			</div>
			<TabNavigationWebmark client:idle />
		</section>

		<Accelerateur />
		<Testislider />
		<section class="brandpartners pb-24">
			<div class="max-w-full px-10 flex flex-wrap gap-8 justify-center">
				<Image
					src={logoAden}
					width="175"
					height="90"
					alt="logo Aden Formation"
					loading="lazy"
				/>
				<Image
					src={logoLesClapiottes}
					width="200"
					height="90"
					alt="logo les Clapiottes"
					loading="lazy"
				/>

				<Image
					src={logoMDS}
					width="200"
					height="90"
					alt="logo My Digital School"
					loading="lazy"
				/>

				<Image
					src={logoBoutiqueChientChat}
					width="102"
					height="90"
					alt="logo Atout chat et chien"
					loading="lazy"
				/>

				<Image
					src={logoOpenMindInnovation}
					width="175"
					height="90"
					alt="logo Open Mind Innovation"
					loading="lazy"
				/>

				<Image
					src={logoSEOCamp}
					width="108"
					height="90"
					alt="logo SEO Camp"
					loading="lazy"
				/>

				<Image
					src={logoAnahataYoga}
					width="167"
					height="90"
					alt="logo Anahata Yoga"
					loading="lazy"
				/>

				<Image
					src={logoLaCasiniere}
					width="186"
					height="90"
					alt="logo La Casinière"
					loading="lazy"
				/>

				<Image
					src={logoEurodisViande}
					width="102"
					height="90"
					alt="logo Eurodis Viande"
					loading="lazy"
				/>
			</div>
		</section>
		<MainCTA />
		<WebmarkBlogSlider />
		<CTABand />
		<section class="faqbox">
			<div class="container">
				<div class="section-header left">
					<span class="h6 text-moonstone-400 uppercase font-semibold mb-6 block"
						>FAQ</span
					>
					<h2 class="section-title">Réponses aux questions fréquentes</h2>
					<PixelSeparator />
				</div>

				<div class="row flex flex-col md:flex-row gap-6">
					<div class="faqcontainer shadow-md">
						<Accordion
							items={[
								{
									title:
										"Q : En quoi consiste votre approche personnalisée en webmarketing ?",
									answer:
										"<p>R : Nous reconnaissons que chaque entreprise est unique, c'est pourquoi nous adaptons nos stratégies à vos besoins spécifiques. Nous analysons vos objectifs, votre public cible et votre positionnement de marché pour développer des solutions de webmarketing sur-mesure.</p>",
									isopen: true,
								},
								{
									title:
										"Q : Comment gérez-vous le marketing multi-canal ?",
									answer:
										"<p>R : Notre expertise couvre une gamme variée de canaux, incluant l'emailing, les réseaux sociaux, la vidéo et le blogging. Nous intégrons ces canaux dans une stratégie cohérente pour maximiser votre visibilité et votre impact sur chaque plateforme.</p>",
								},
								{
									title:
										"Q : Quel type de transparence offrez-vous dans vos services ?",
									answer:
										"<p>R :  Nous assurons une transparence totale dans nos services. Cela comprend un suivi complet de votre projet et la fourniture de rapports détaillés, vous donnant une visibilité claire sur les performances et les progrès de vos campagnes.</p>",
								},
								{
									title:
										"Q : Comment mesurez-vous les résultats des campagnes de webmarketing ?",
									answer:
										"<p>R : Nous utilisons des indicateurs clairs pour suivre le retour sur investissement de chaque action. Cela inclut l'analyse du trafic web, le taux de conversion, l'engagement sur les réseaux sociaux, et d'autres métriques pertinentes pour évaluer l'efficacité de nos stratégies.</p>",
								},
								{
									title:
										"Q : Pouvez-vous détailler votre offre en matière de stratégie de webmarketing ?",
									answer:
										"<p>R : Notre service de stratégie implique une analyse approfondie de votre marché, la définition d'objectifs clairs, et la conception d'un plan d'action ciblé pour atteindre ces objectifs. Nous considérons tous les aspects du webmarketing pour créer une stratégie intégrée et efficace.</p>",
								},
								{
									title:
										"Q : Comment abordez-vous la publicité en ligne dans vos services ?",
									answer:
										"<p>R : Nous développons des campagnes publicitaires personnalisées qui ciblent votre public de manière efficace, en utilisant des plateformes comme Google Ads, les réseaux sociaux, et d'autres canaux pertinents pour maximiser la visibilité et l'engagement.</p>",
								},
								{
									title:
										"Q : Quelle est votre expertise en SEO ?",
									answer:
										"<p>R : Notre expertise en SEO comprend l'optimisation on-page, le link building, l'analyse de mots-clés, et la création de contenu optimisé pour améliorer votre classement dans les résultats des moteurs de recherche et attirer un trafic organique qualifié.</p>",
								},
								{
									title:
										"Q : Comment gérez-vous le SMO dans vos stratégies de webmarketing ?",
									answer:
										"<p>R : Le SMO (Social Media Optimization) fait partie intégrante de nos services. Nous optimisons votre présence sur les réseaux sociaux pour améliorer l'engagement, augmenter la portée de votre marque et générer du trafic vers votre site web.</p>",
								},
								{
									title:
										"Q : Comment fonctionnent vos services d'e-mailing ?",
									answer:
										"<p>R : Nos services d'e-mailing incluent la création de campagnes personnalisées, la segmentation de votre audience pour des messages ciblés, et l'analyse des performances pour optimiser l'engagement et la conversion.</p>",
								},
								{
									title:
										"Q : Quel type d'analyse proposez-vous avec vos services d'Analytics ?",
									answer:
										"<p>R : Nous utilisons des outils d'analyse avancés pour mesurer l'efficacité de vos campagnes, comprendre le comportement des utilisateurs et optimiser les performances de votre site web et de vos campagnes marketing.</p>",
								},
							]}
						/>
					</div>
					<div class="novacontainer glow" transition:persist>
						<div class="novainner">
							<div class="header-nova-box">
								<Image
									src={logoGDM}
									width="230"
									height="40"
									alt="logo GDM-Pixel"
									loading="lazy"
								/>
							</div>
							<Image
								src={NovaImage}
								width="410"
								height="273"
								alt="Nova"
								loading="lazy"
							/>
							<p>Vous ne trouvez pas de réponse à votre question ?</p>
							<span class="ask">Demandez à NOVA</span>
							<button aria-label="Posez votre question" class="cta red novabtn"
								>Posez votre question</button
							>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<Footer />
</Layout>
<script>
	function setup() {
		window.addEventListener("scroll", function () {
			var novacontainer = document.querySelector(".novacontainer");
			if (novacontainer) {
				var rect = novacontainer.getBoundingClientRect();
				var isCloseToTop = rect.top <= 10;
				novacontainer.classList.toggle("sticky", isCloseToTop);
			}
		});
	}
	document.addEventListener("DOMContentLoaded", setup);
	document.addEventListener("astro:page-load", setup);
</script>

<style lang="scss">
	.container {
		max-width: 1400px;
	}

	.reassurance {
		@apply mx-auto xxl:-mt-20 xl:-mt-12 -mt-12 relative z-10 container;
	}
	.cta-container-centered {
		@apply flex flex-col sm:flex-row items-center justify-center gap-4 mt-8;
		.cta {
			@apply w-52 text-center items-center;
		}
	}
	.faqbox {
		@apply bg-powder py-24 text-white;
		.faqcontainer {
			@apply lg:w-2/3 md:w-3/5 rounded-md overflow-clip relative z-20;
		}

		.header-nova-box {
			@apply px-4 py-6 flex justify-center;
		}

		.novacontainer {
			@apply lg:w-1/3 md:w-2/5 rounded-lg relative md:self-start self-center
		flex flex-col md:justify-start justify-center items-center transition-all duration-300 ease-in-out opacity-100 translate-y-0;
			&.sticky {
				@apply md:top-0 transition-all md:mb-24 duration-300 ease-in-out md:opacity-95 md:translate-y-20;
				position: sticky;
			}

			.novainner {
				@apply pt-4 pb-12 bg-prussian-600 relative z-10 flex flex-col justify-center items-center self-center;
			}
			img {
				@apply w-full;
			}
			p {
				@apply px-4 py-6 text-center text-md;
			}
			.ask {
				@apply block text-center text-xl lg:text-xl xl:text-xxl uppercase font-bold mb-6;
			}
		}

		.glow::before,
		.glow::after {
			content: "";
			position: absolute;
			left: -2px;
			top: -2px;

			background: linear-gradient(
				45deg,
				#0dffd7,
				#0c67fa,
				#217eff,
				#00e1ff,
				#cff7ff,
				#23e9ff,
				#0055ff,
				#00d4f5,
				#0dffd7
			);
			background-size: 400%;
			width: calc(100% + 4px);
			height: calc(100% + 4px);

			animation: animate 60s linear infinite;
		}
		@keyframes animate {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 300% 0;
			}
			100% {
				background-position: 0 0;
			}
		}
		.glow:after {
			filter: blur(15px);
			opacity: 0.5;
		}
	}
</style>
