---
import { Image } from "astro:assets";
import CsClapiottes from "../assets/img/cs-clapiottes.png";
import CsNbeAvocats from "../assets/img/cs-nbe-avocats.png";
import CsVelocity from "../assets/img/cs-velocity.png";
import CsCokitec from "../assets/img/cs-cokitec.png";
import CsCimeAvocats from "../assets/img/cs-cime-avocats.png";
---

<div class="row my-2 text-center">
	<div class="relative overflow-hidden">
		<div class="myCaseStudy">
			<div class="swiper-wrapper">
				<div class="swiper-slide flex gap-6">
					<div class="col1">
						<Image src={CsClapiottes} alt="Les Clapiottes" />
					</div>
					<div class="col2">
						<h3>Les Clapiottes</h3>
						<p class="mb-3">
							Les Clapiottes, c’était le défi technique de l’été dernier : un
							site pour un traiteur de Caen. Le système de panier devait
							autoriser les commandes uniquement en fin de semaine, avec une
							gestion de stocks commune à plusieurs produits et un système de
							réservation, de prise de commande, tout ça connecté avec une
							calendrier interactif.
						</p>
						<p>
							Après un mois de travail, le site était en ligne, et réalisait ses
							premières ventes !
						</p>
						<ul>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>WordPress
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Réservations
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Réseaux sociaux
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Identité visuelle
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Automatisation
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Vidéo
							</li>
						</ul>
						<p class="conclude">
							Un développement complet, couplé à un système de gestion de
							contenu puissant, permet à cette entreprise de gérer ses ventes en
							toute autonomie.
						</p>
					</div>
				</div>
				<div class="swiper-slide flex gap-6">
					<div class="col1"><Image src={CsNbeAvocats} alt="NBE Avocats" /></div>
					<div class="col2"><h3>NBE Avocats</h3>
						<p class="mb-3">
							Un site totalement personnalisé, pour un prestigieux cabinet d'avocats Parisien. Réalisé sur CMS WordPress, avec utilisation de champs et de type de publications personnalisées, le site permet à l'équipe du cabinet d'être autonome sur ses publications de contenus. 
						</p>
						<p>
							Un accent particulier a été mis sur les temps de chargements, pour rendre le site totalement compatible avec les mobiles.
						</p>
						<ul>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>WordPress
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Consultations en ligne
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Réseaux sociaux
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Identité visuelle
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Automatisation
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Vidéo
							</li>
						</ul>
						<p class="conclude">
							Toutes nos créations sont personnalisées, et sont 100% adaptées à vos besoins. Nous pouvons également vous former à l'utilisation de votre site.
						</p></div>
				</div>
				<div class="swiper-slide flex gap-6">
					<div class="col1"><Image src={CsVelocity} alt="Velocity" /></div>
					<div class="col2"><h3>Velocity</h3>
						<p class="mb-3">
							Un site E-commerce, pour un distributeur Caennais de la marque Giant. Basé sur une version 1.6 de Prestashop, le template a été totalement personnalisé pour correspondre aux deux identités visuelles de la marque, qui différencie ses produits selon le genre des utilisateurs (Liv pour les femmes, Giant pour les hommes).
						</p>
						<p>
							Le site est donc scindé en deux univers, et le template Prestashop a été aménagé pour coller à la stratégie marketing du distributeur.
						</p>
						<ul>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Prestashop
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>SEO
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Réseaux sociaux
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Identité visuelle
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Gestion de catalogue
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Résevation de produit en ligne
							</li>
						</ul>
						<p class="conclude">
							Le site a également fait l'objet d'une optimisation poussée pour les moteurs de recherche, afin de pousser un maximum de trafic sur un modèle web to store.
						</p></div>
				</div>
				<div class="swiper-slide flex gap-6">
					<div class="col1"><Image src={CsCokitec} alt="Cokitec" /></div>
					<div class="col2"><h3>Cokitec</h3>
						<p class="mb-3">
							Cokitec, c'était le tout premier défi technique de l'agence, et c'était également son tout premier site (tout court) ! Le challenge était de taille : il fallait créer une boutique en ligne avec plus de 30 000 produits, et tout ça avec des textes uniques.
						</p>
						<p>
							Réalisé à l'aide de Sylvain Vandewalle, le site fut mis en ligne au bout de quelques mois et compte aujourd'hui près de 100 000 produits !
						</p>
						<ul>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Prestashop
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Content-Spinning
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Imports CSV
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Identité visuelle
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Automatisation
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>E-commerce
							</li>
						</ul>
						<p class="conclude">
							Le site est aujourd'hui un des leaders de la vente d'accessoires pour smartphones en France, et propose également de l'impression personnalisée sur de nombreux supports.
						</p></div>
				</div>
				<div class="swiper-slide flex gap-6">
					<div class="col1">
						<Image src={CsCimeAvocats} alt="Cime Avocats" />
					</div>
					<div class="col2"><h3>Cime Avocats</h3>
						<p class="mb-3">
							Une belle réalisation, pour un superbe cabinet d'Avocats à Rennes ! Ici aussi, tout a été personnalisé, et le site a été construit autours d'une stratégie de contenus mettant à contribution les associés du cabinet ainsi que leurs sites respectifs. Le cabinet a depuis ouvert une seconde antenne à Paris.
						</p>
						<p>
							Sans faire de netlinking, le site a ainsi pu se positionner rapidement dans les moteurs de recherche.
						</p>
						<ul>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>WordPress
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>SEO
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Réseaux sociaux
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Identité visuelle
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Cocon Sémantique
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Formation
							</li>
						</ul>
						<p class="conclude">
							Le cabinet Cime Avocats a su se doter de moyens de communication modernes et efficaces pour se faire connaître et développer son activité.
						</p></div>
				</div>
			</div>
		</div>

		<div class="thumbcontainer max-w-lg flex flex-start mt-2">
			<div class="swiper myCaseStudyThumbs">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<Image
							src={CsClapiottes}
							alt="Les Clapiottes"
							width="99"
							height="65"
						/>
					</div>
					<div class="swiper-slide">
						<Image
							src={CsNbeAvocats}
							alt="NBE Avocats"
							width="99"
							height="65"
						/>
					</div>
					<div class="swiper-slide">
						<Image src={CsVelocity} alt="Velocity" width="99" height="65" />
					</div>
					<div class="swiper-slide">
						<Image src={CsCokitec} alt="Cokitec" width="99" height="65" />
					</div>
					<div class="swiper-slide">
						<Image
							src={CsCimeAvocats}
							alt="Cime Avocats"
							width="99"
							height="65"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	import Swiper from "swiper/bundle";
	import "swiper/css/bundle";

	function initializeSwiperCaseSt() {
		var swiperThumbs = new Swiper(".myCaseStudyThumbs", {
			slidesPerView: 5,
			freeMode: false,
			loop: false,
			spaceBetween: 20,
			watchSlidesProgress: true,
			slideToClickedSlide: true,
		});
		var swiper = new Swiper(".myCaseStudy", {
			slideActiveClass: "swiper-slide-active",
			effect: "fade",
			fadeEffect: {
				crossFade: true,
			},
			loop: false,
			spaceBetween: 0,
			freeMode: false,
			slidesPerView: 1,
			watchSlidesProgress: false,
			thumbs: {
				swiper: swiperThumbs,
			},
		});
	}
	initializeSwiperCaseSt();
	document.addEventListener("astro:page-load", initializeSwiperCaseSt);
</script>

<style lang="scss">
	.swiper-CaseStudySwiper {
		--swiper-theme-color: #d62246 !important;
		--swiper-pagination-bullet-size: 26px !important;
		--swiper-pagination-bullet-text: white !important;
		--swiper-pagination-bullet-width: 26px !important;
		--swiper-pagination-bullet-horizontal-gap: 0px;
		--swiper-pagination-bullet-width: 26px;
		--swiper-pagination-bullet-height: 26px;
		--swiper-pagination-bullet-border-radius: 99px;
		--swiper-pagination-bullet-inactive-color: #dddddd;
		--swiper-pagination-bullet-inactive-opacity: 1;
		.gdmbullet.swiper-pagination-bullet {
			color: white !important;
		}
	}
</style>
<style lang="scss"></style>
<style lang="scss">
	.swiper {
		height: 100%;
		width: 100%;
	}
	.swiper-wrapper {
		@apply mx-auto;
	}

	.swiper-container {
		@apply relative overflow-hidden z-20;
	}

	.swiper-slide {
		@apply text-left text-base flex flex-row justify-between items-center;
		h3 {
			@apply text-xxl font-bold mt-4 mb-4;
		}
		p {
			@apply text-base text-center max-w-3xl mx-auto;
		}
	}
	.myCaseStudyThumbs .swiper-slide{
		@apply border-2 border-transparent transition-all duration-300;
	}
	.myCaseStudyThumbs .swiper-slide-thumb-active {
		@apply border-2 border-dustyred-400 transition-all duration-300;
	}

	.myCaseStudy {
		.col1,
		.col2 {
			@apply w-1/2;
		}
		.col2 {
			@apply text-left;
			h3 {
				@apply text-xxxl font-bold mt-0 mb-2;
			}
		}
		ul {
			@apply flex flex-col flex-wrap gap-2 mb-6 mt-4 max-h-28;
			li {
				@apply flex flex-row items-center gap-2 font-bold;
			}
		}
		p {
			@apply text-base text-left;
			&.conclude {
				@apply font-bold;
			}
		}
	}
</style>
