---
import { Image } from "astro:assets";
import CsRenovetTradition from "../assets/img/cs-renov-et-tradition.png";
import CsRueDuPrint from "../assets/img/cs-rue-du-print.png";
import CsVelocity from "../assets/img/cs-velocity.png";
import CsCokitec from "../assets/img/cs-cokitec.png";
import CsProvaches from "../assets/img/cs-provaches.png";
---

<section class="row my-2 text-center overflow-x-clip">
	<div class="relative">
		<!--  -->
		<div
			class="mx-auto flex flex-col lg:flex-row justify-between items-center">
			<div class="lg:w-[49%] w-full">
				<div class="myCaseStudyImg">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<Image src={CsVelocity} alt="Velocity" width="630" height="410" />
						</div>
						<div class="swiper-slide">
							<Image src={CsRenovetTradition} alt="Renov et Tradition" />
						</div>
						<div class="swiper-slide">
							<Image src={CsRueDuPrint} alt="Rue du Print" />
						</div>
						<div class="swiper-slide">
							<Image src={CsProvaches} alt="Provaches" />
						</div>
						<div class="swiper-slide">
							<Image src={CsCokitec} alt="Cokitec" />
						</div>
					</div>
				</div>
				<div class="thumbcontainer relative z-30 mt-2">
					<div class="swiper myCaseStudyThumbs">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<Image
									src={CsVelocity}
									alt="Velocity"
									width="99"
									height="65"
								/>
							</div>
							<div class="swiper-slide">
								<Image
									src={CsRenovetTradition}
									alt="Renov et Tradition"
									width="99"
									height="65"
								/>
							</div>
							<div class="swiper-slide">
								<Image src={CsRueDuPrint} alt="Rue du Print" width="99" height="65" />
							</div>

							<div class="swiper-slide">
								<Image
									src={CsProvaches}
									alt="Provaches"
									width="99"
									height="65"
								/>
							</div>
							<div class="swiper-slide">
								<Image src={CsCokitec} alt="Cokitec" width="99" height="65" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="myCaseStudyText lg:w-[49%] w-full">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<h3>Velocity</h3>
						<p class="mb-3">
							Un site E-commerce, pour un distributeur Caennais de la marque
							Giant. Basé sur une version 1.6 de Prestashop, le template a été
							totalement personnalisé pour correspondre aux deux identités
							visuelles de la marque, qui différencie ses produits selon le
							genre des utilisateurs (Liv pour les femmes, Giant pour les
							hommes).
						</p>
						<p>
							Le site est donc scindé en deux univers, et le template Prestashop
							a été aménagé pour coller à la stratégie marketing du
							distributeur.
						</p>
						<ul>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Prestashop
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>SEO
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Réseaux sociaux
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Identité visuelle
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Gestion de catalogue
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Réservation en ligne
							</li>
						</ul>
						<p class="conclude">
							Le site a également fait l'objet d'une optimisation poussée pour
							les moteurs de recherche, afin de pousser un maximum de trafic sur
							un modèle web to store.
						</p>
					</div>
					<div class="swiper-slide">
						<h3>Renov et Tradition</h3>
						<p class="mb-3">
							Un site 100 % personnalisé, pour un artisan Caennais qui fait de superbes choses avec ses mains et des meubles anciens (qui ont besoin d'un petit coup de magie) ! Réalisé sur Woocommerce afin de rentrer dans le budget de l'entreprise.
						</p>
						<p>
							Un accent particulier a été mis sur les temps de chargements, pour rendre le site totalement compatible avec les mobiles.
						</p>
						<ul>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>WordPress
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Consultations en ligne
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Réseaux sociaux
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Identité visuelle
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Automatisation
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Vitesse
							</li>
						</ul>
						<p class="conclude">
							Toutes nos créations sont personnalisées, et sont 100% adaptées à vos besoins. Nous pouvons également vous former à l'utilisation de
							votre site.
						</p>
					</div>
					<div class="swiper-slide">
						<h3>Rue du print</h3>
						<p class="mb-3">
							Un autre site E-commerce pour une entreprise basée en Israël et commercialisant des produits imprimés sur mesure en Europe. Le site a été réalisé sur Prestashop, et a été entièrement personnalisé pour correspondre aux besoins du client.
						</p>
						<p>
							Là encore, l'accent a été mis sur l'automatisation des tâches, afin de permettre au client de se concentrer sur son activité principale.
						</p>
						<ul>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Prestashop
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>SEO
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Réseaux sociaux
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Identité visuelle
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Gestion de catalogue
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Commande en ligne
							</li>
						</ul>
						<p class="conclude">
							Le site a également fait l'objet d'une optimisation poussée pour
							les moteurs de recherche, afin de pousser un maximum de trafic sur
							un modèle web to store.
						</p>
					</div>

					<div class="swiper-slide">
						<h3>Provaches</h3>
						<p class="mb-3">
							L'inventeur du T-Shirt fermier et engagé ! Une boutique sur mesure, en refonte d'un Prestashop existant. Nous sommes partis du thème de base, que nous avons customisé pour correspondre à la charte graphique du client.
						</p>
						<p>
							Il était ici question de mettre en place un système solide pour garantir une durée de vie accrue au site et une maintenance facilitée.
						</p>
						<ul>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Prestashop
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>SEO
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Réseaux sociaux
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Identité visuelle
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Cocon Sémantique
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Formation
							</li>
						</ul>
						<p class="conclude">
							Le cabinet Cime Avocats a su se doter de moyens de communication
							modernes et efficaces pour se faire connaître et développer son
							activité.
						</p>
					</div>
					<div class="swiper-slide">
						<h3>Cokitec</h3>
						<p class="mb-3">
							Cokitec, c'était le tout premier défi technique de l'agence, et
							c'était également son tout premier site (tout court) ! Le
							challenge était de taille : il fallait créer une boutique en ligne
							avec plus de 30 000 produits, et tout ça avec des textes uniques.
						</p>
						<p>
							Réalisé à l'aide de Sylvain Vandewalle, le site fut mis en ligne
							au bout de quelques mois et compte aujourd'hui près de 100 000
							produits !
						</p>
						<ul>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Prestashop
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Content-Spinning
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Imports CSV
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Identité visuelle
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>Automatisation
							</li>
							<li>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="1em"
									viewBox="0 0 448 512"
									><path
										d="M448 130L431 147 177.5 399.2l-16.9 16.9-16.9-16.9L17 273.1 0 256.2l33.9-34 17 16.9L160.6 348.3 397.1 112.9l17-16.9L448 130z"
										fill="#00B2CB"></path></svg
								>E-commerce
							</li>
						</ul>
						<p class="conclude">
							Le site est aujourd'hui un des leaders de la vente d'accessoires
							pour smartphones en France, et propose également de l'impression
							personnalisée sur de nombreux supports.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--TENTATIVE -->
	</div>
</section>

<script>
	import Swiper from "swiper/bundle";
	import "swiper/css/bundle";

	function initializeSwiperCaseSt() {
		var swiperThumbs = new Swiper(".myCaseStudyThumbs", {
			slidesPerView: 5,
			freeMode: false,
			loop: false,
			spaceBetween: 20,
			watchSlidesProgress: true,
			slideToClickedSlide: true,
		});
		var swiperCaseText = new Swiper(".myCaseStudyText", {
			slideActiveClass: "swiper-slide-active",
			effect: "fade",
			fadeEffect: {
				crossFade: true,
			},
			loop: false,
			spaceBetween: 0,
			freeMode: false,
			slidesPerView: 1,
			watchSlidesProgress: false,
			thumbs: {
				swiper: swiperThumbs,
			},
		});
		var swiperCaseImg = new Swiper(".myCaseStudyImg", {
			slideActiveClass: "swiper-slide-active",
			effect: "fade",
			fadeEffect: {
				crossFade: true,
			},
			loop: false,
			spaceBetween: 0,
			freeMode: false,
			slidesPerView: 1,
			watchSlidesProgress: false,
			thumbs: {
				swiper: swiperThumbs,
			},
		});
		swiperCaseText.controller.control = swiperCaseImg;
		swiperCaseImg.controller.control = swiperCaseText;
	}
	initializeSwiperCaseSt();
	document.addEventListener("astro:page-load", initializeSwiperCaseSt);
</script>

<style lang="scss">
	.swiper-CaseStudySwiper {
		--swiper-theme-color: #d62246 !important;
		--swiper-pagination-bullet-size: 26px !important;
		--swiper-pagination-bullet-text: white !important;
		--swiper-pagination-bullet-width: 26px !important;
		--swiper-pagination-bullet-horizontal-gap: 0px;
		--swiper-pagination-bullet-width: 26px;
		--swiper-pagination-bullet-height: 26px;
		--swiper-pagination-bullet-border-radius: 99px;
		--swiper-pagination-bullet-inactive-color: #dddddd;
		--swiper-pagination-bullet-inactive-opacity: 1;
		.gdmbullet.swiper-pagination-bullet {
			color: white !important;
		}
	}
</style>

<style lang="scss">
	.myCaseStudyThumbs .swiper-slide {
		@apply border-2 border-transparent transition-all duration-300;
		img {
			@apply w-full;
		}
	}
	.myCaseStudyThumbs .swiper-slide-thumb-active {
		@apply border-2 border-dustyred-400 transition-all duration-300;
	}
	.myCaseStudyImg {
		img {
			@apply w-full;
		}
	}
	.myCaseStudyText {
		.swiper-slide {
			@apply text-left text-base gap-2 justify-center items-start;
			h3 {
				@apply text-xxl font-bold mt-4 mb-4;
			}
			p {
				@apply text-base text-left w-full mx-auto;
			}
			img {
				@apply w-full;
			}
		}

		.col1,
		.col2 {
			@apply w-full lg:w-1/2;
		}
		.col2 {
			@apply text-left;
			h3 {
				@apply text-xxxl font-bold mt-0 mb-2;
			}
		}
		ul {
			@apply flex xl:flex-col flex-row flex-wrap gap-2 mb-4 mt-4 max-h-20;
			li {
				@apply flex flex-row items-center gap-2 font-bold;
			}
		}
		p {
			@apply text-base text-left;
			&.conclude {
				@apply font-bold;
			}
		}
	}
	.swiper-slide {
		&:hover {
			cursor: pointer;
		}
	}
</style>
