---

const { posts } = Astro.props;
//@ts-ignore
function formatDate(date) {
    const options = { year: 'numeric', month: 'long', day: 'numeric' };
	//@ts-ignore
    let formattedDate = new Date(date).toLocaleDateString('fr-FR', options);

    // Gérer le cas "1er"
    if (formattedDate.startsWith('1 ')) {
        formattedDate = formattedDate.replace('1 ', '1er ');
    }

    return formattedDate;
}
---
		<section class="postgrid">
			{
				//@ts-ignore
				posts.map((post) => (
					<div class="blogsingle">
						<a class="blogpostwraper" href={`/articles/${post.data.category}/${post.slug}/`}>
							<img transition:name={`featuredImg_${post.slug}`}
								src={post.data.ogimage}
								alt={post.data.title}
								width="377"
								height="211"
							/>
							
							<div class="postmetawraper">
								<span class="date">{formatDate(post.data.date)}</span>
								<h2>{post.data.title}</h2>
							</div>
						</a>
					</div>
				))
			}
		</section>

<style lang="scss">
	.postgrid {
		@apply xl:container grid md:grid-cols-2 lg:grid-cols-3 mx-auto gap-6 px-6;
		.blogsingle {
			@apply relative border-solid border border-[#E6E6E6] shadow-md;
		}
		a.blogpostwraper {
			@apply text-left rounded-lg  overflow-hidden;
		}
		.postmetawraper {
			@apply px-6 pt-2 pb-6 bg-white;
		}
		h2 {
			@apply text-base md:text-md lg:text-lg font-bold text-prussian-400;
		}
		span.category {
			@apply absolute right-4 top-6 px-4 py-1 bg-dustyred-400 text-white rounded-full;
		}
		span.date {
			@apply text-prussian-100 text-xs;
		}
		img {
			display: block;
			width: 100%;
		}
	}
</style>
