---
import type { CollectionEntry } from "astro:content";
// Les props passés au composant
export interface RelatedPostsProps {
	relatedPosts: CollectionEntry<"articles">[];
}
const { relatedPosts } = Astro.props as RelatedPostsProps;
const limitedRelatedPosts = relatedPosts.slice(0, 6);
---

<section class="related-posts max-w-5xl mx-auto mt-6">
	<h4 class="mb-6">Articles connexes</h4>
	<div class="relative grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1  gap-3">
	

				{
					limitedRelatedPosts.map((post) => (
						<div class="swiper-slide">
							<a
								class="blogpostwraper"
								href={`/articles/${post.data.category}/${post.slug}`}>
								<img
									src={post.data.ogimage}
									alt={post.data.title}
									width="377"
									height="211"
									loading="lazy"
									transition:name={`featuredImg_${post.slug}`}
								/>
								
								<div class="postmetawraper">
									<span class="date">{post.data.date}</span>
									<h3>{post.data.title}</h3>
								</div>
							</a>
						</div>
					))
				}
		
	

		
	</div>
</section>

<style lang="scss">
	.postgrid {
		.blogsingle {
			@apply relative border-solid border border-[#E6E6E6] shadow-md;
		}
		a.blogpostwraper {
			@apply text-left rounded-lg  overflow-hidden;
		}
		.postmetawraper {
			@apply px-6 pt-2 pb-6 bg-white;
		}
		h3 {
			@apply text-xl font-bold text-prussian-400;
		}
		span.category {
			@apply absolute right-4 top-6 px-4 py-1 bg-dustyred-400 text-white rounded-full;
		}
		span.date {
			@apply text-prussian-100 text-xs;
		}
		img {
			display: block;
			width: 100%;
		}
	}

	:root {
		--swiper-theme-color: #d62246 !important;
		--swiper-pagination-bullet-size: 10px !important;
		--swiper-pagination-bullet-width: 10px !important;
		--swiper-pagination-bullet-horizontal-gap: 6px;
		--swiper-pagination-bullet-width: 26px;
		--swiper-pagination-bullet-height: 5px;
		--swiper-pagination-bullet-border-radius: 99px;
		--swiper-pagination-bullet-inactive-color: #dddddd;
		--swiper-pagination-bullet-inactive-opacity: 1;
	}

	.navelementwraper {
		@apply absolute top-0 left-0 right-0 z-10 h-full w-full hidden lg:block;
		.swiper-next,
		.swiper-prev {
			@apply cursor-pointer absolute top-1/2 w-9 h-9 flex items-center justify-center align-middle;
			svg {
				@apply fill-dustyred-400  transition-all duration-300 ease-in-out  hover:fill-moonstone-400;
			}
		}
		.swiper-next {
			@apply -right-12;
		}
		.swiper-prev {
			@apply -left-12;
		}
		.swiper-pagination {
			bottom: -30px !important;
			.swiper-pagination-bullet-active {
				background: red !important;
			}
		}
	}
	.swiper {
		height: 100%;
		width: 100%;
	}
	.swiper-wrapper {
		@apply mx-auto;
	}

	.swiper-container {
		@apply relative overflow-hidden z-20;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.swiper-slide {
		a.blogpostwraper {
			@apply relative text-left rounded-lg border-solid border border-[#E6E6E6] shadow-md overflow-hidden;
		}
		.postmetawraper {
			@apply px-6 pt-2 pb-6 bg-white;
		}
		h3 {
			@apply text-xl font-bold text-prussian-400;
		}
		span.category {
			@apply absolute right-4 top-6 px-4 py-1 bg-dustyred-400 text-white rounded-full;
		}
		span.date {
			@apply text-prussian-100 text-xs;
		}
		img {
			display: block;
			width: 377px;
			height: 211px;
			object-fit: cover;
		}
	}
</style>
