---
import { Image } from "astro:assets";
import Reassurance from "../../components/Reassurance.astro";
import TeasingEcommerce from "/src/assets/img/teasingecommerce.png";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroBoxEcommerce from "../../components/HeroBoxEcommerce.astro";
import GaucheDroite from "../../components/Gauche-Droite.astro";
import FlipBox from "../../components/FlipBox.astro";
import PixelSeparator from "../../components/PixelSeparator.astro";
import * as animations from "../../components/animations.js";
import CaseStudyEcommerceSlider from "../../components/CaseStudyEcommerceSlider.astro";
import logoGDM from "../../assets/img/logo-gdm-white.svg";
import Accordion from "../../components/Accordion.astro";
import NovaImage from "../../assets/img/nova.png";
import Testislider from "../../components/Testislider.astro";
import MainCTA from "../../components/MainCTA.astro";
import EcommerceSlider from "../../components/EcommerceSlider.astro";
import Footer from "../../components/Footer.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
const customCrumbs = [
	{},
	{
		text: "Créer un site internet",
		href: "/creation-site/",
	},
	{
		text: "Se lancer dans le E-commerce",
		href: "/creation-site/creer-ecommerce/",
	},
];
---

<Layout title="Page des composants" description="Ceci est la meta description">
	<Header />
	<div class="bd-container">
		<Breadcrumbs crumbs={customCrumbs} transition:persist>
			<svg
				slot="index"
				xmlns="http://www.w3.org/2000/svg"
				height="1em"
				viewBox="0 0 576 512">
				<path
					d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
				></path>
			</svg>
			<svg
				slot="separator"
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round">
				<polyline points="9 18 15 12 9 6"></polyline>
			</svg>
		</Breadcrumbs>
	</div>
	<HeroBoxEcommerce />
	<main>
		<!-- REASSURANCE -->
		<div class="reassurance" transition:animate={animations.animInFromBottom}>
			<div class="grid lg:grid-cols-4 md:grid-cols-2 gap-8">
				<Reassurance
					title="Expérience et expertise"
					icon="fa-hat-wizard"
					body="13 ans d'expérience en création de sites E-commerce"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Approche sur mesure"
					icon="fa-ruler"
					body="Solutions sur mesure correspondant à vos besoins "
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Ergonomie et rapidité"
					icon="fa-rocket-launch"
					body="Nos sites sont conçus pour être rapides et pratiques"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Sites et serveurs sécurisés"
					icon="fa-shield-check"
					body="Nous travaillons avec des hébergeurs fiables"
					color="prussian"
					size="medium"
				/>
			</div>
		</div>
		<!-- FIN DE REASSURANCE -->

		<GaucheDroite
			subtitle="A propos de nos sites e-commerce"
			title="Vendez en Ligne Efficacement avec Nos Stratégies Infaillibles"
			intro="Le E-commerce est une machine à Cash, quand on maitrise les leviers offerts par l’informatique"
			body="<p>Nous sommes en 2023 et plus que jamais, le traitement automatique de l’information permet de réaliser des miracles !</p><p>De la rédaction des fiches produits, à l’acquisition et l’amélioration de l’expérience utilisateur, il existe de nombreux outis pour remplacer, assister ou accompagner sur la création et la gestion d’une boutique en ligne.</p><p class='mt-6'><strong>Travailler avec nous, ce n’est pas juste “créer une boutique en ligne”, c’est accéder à tous les leviers qui permettent de vendre massivement, partout dans le monde.</strong></p>  "
			imgsrc={TeasingEcommerce}
			imgalt="Création de site E-commerce à Caen"
			reverse={false}
		/>

		<!-- REASSURANCE -->
		<div class="row bg-gradient-to-b from-[#1B3751] to-[#232634] py-24">
			<div class="container">
				<div class="section-header dark">
					<span class="subtitle text-moonstone-400">Nos Services</span>
					<h2 class="section-title">
						Pourquoi nos sites E-commerce sont meilleurs (oui, on assume)
					</h2>
					<PixelSeparator />
				</div>
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
					<FlipBox
						title="CMS"
						bodyFront="Nous proposons des CMS Prestashop, Woocommerce ou Shopify, selon vos besoins."
						bodyBack="C'est vous qui choisissez, mais nous sommes là pour vous conseiller."
						icon="fa-gears"
						color="moonstone"
					/>
					<FlipBox
						title="Personnalisation"
						bodyFront="Des interfaces sur-mesure pour refléter l'identité unique de votre marque"
						bodyBack="Votre site est unique, comme votre entreprise et son idendité visuelle."
						icon="fa-palette"
						color="moonstone"
					/>
					<FlipBox
						title="Capacité"
						bodyFront="Gérez un inventaire allant de 10 à 100 000 produits sans compromettre les performances."
						bodyBack="Nos solutions sont adaptées à votre catalogue, et évoluent avec vous."
						icon="fa-database"
						color="moonstone"
					/>
					<FlipBox
						title="SEO"
						bodyFront="Un site optimisé pour les moteurs de recherche dès sa conception, pour plus de trafic et de chiffre d’affaire."
						bodyBack="Une stratégie d'acquisition de trafic est mise en place dès la conception de votre site."
						icon="fa-chart-lineup"
						color="moonstone"
					/>
					<FlipBox
						title="Logistique"
						bodyFront="Nous proposons des intégrations de solutions logistiques pour un processus d'achat fluide."
						bodyBack="Nos partenaires logistiques vous accompagnent dans votre croissance."
						icon="fa-truck-fast"
						color="moonstone"
					/>
					<FlipBox
						title="Formation"
						bodyFront="Devenez autonome avec notre formation complète à l'utilisation de votre boutique."
						bodyBack="Prenez les commandes en toute sérénité grâce à nos formations financées !"
						icon="fa-graduation-cap"
						color="moonstone"
					/>
				</div>
				<div class="cta-container-centered">
					<a href="#" class="cta blue">Poser une question</a><a
						href="#"
						class="cta red">Nous contacter</a
					>
				</div>
			</div>
		</div>

		<section class="case-study container py-24">
			<div class="section-header left">
				<span class="subtitle text-dustyred-400 block">Etudes de cas</span>
				<h2 class="section-title">
					Quelques une de nos dernières créations (et leur contenu)
				</h2>
				<PixelSeparator />
			</div>
			<CaseStudyEcommerceSlider />
		</section>

		<section class="faqbox">
			<div class="container">
				<div class="section-header left dark">
					<span class="h6 text-white uppercase font-semibold mb-6 block"
						>FAQ</span
					>
					<h2 class="section-title">Réponses aux questions fréquentes</h2>
					<PixelSeparator />
				</div>

				<div class="row flex flex-col md:flex-row gap-6">
					<div class="faqcontainer">
						<Accordion
							items={[
								{
									title:
										"Q : Quel est le coût de création d'un site e-commerce ?",
									answer:
										"<p>R : Le coût varie en fonction de divers facteurs, tels que la complexité du design, le nombre de produits, les fonctionnalités spécifiques et les intégrations nécessaires. Après avoir évalué vos besoins, nous vous fournirons un devis personnalisé.</p>",
									isopen: true,
								},
								{
									title:
										"Q : Combien de temps faut-il pour développer un site e-commerce ?",
									answer:
										"<p>R : Le temps de développement dépend de la taille et de la complexité du projet. En moyenne, un site e-commerce peut prendre de 3 à 6 mois pour être complètement opérationnel.</p>",
								},
								{
									title:
										"Q : Mon site e-commerce sera-t-il optimisé pour le mobile ?",
									answer:
										"<p>R : Oui, tous nos sites e-commerce sont conçus avec une approche responsive, garantissant une expérience utilisateur optimale sur les appareils mobiles et les tablettes.</p>",
								},
								{
									title:
										"Q : Comment gérez-vous les paiements en ligne sécurisés ?",
									answer:
										"<p>R : Nous intégrons des solutions de paiement sécurisées, telles que PayPal, Stripe, ou des passerelles de paiement spécifiques à un pays, en utilisant des protocoles de cryptage pour protéger les informations sensibles des clients.</p>",
								},
								{
									title:
										"Q : Proposez-vous des solutions pour le référencement (SEO) des sites e-commerce ?",
									answer:
										"<p>R : Oui, nous intégrons des pratiques SEO dès la conception du site, en optimisant les structures de pages, les balises méta, les descriptions de produits et en veillant à la performance générale du site pour améliorer sa visibilité.</p>",
								},
								{
									title:
										"Q : Comment puis-je suivre les ventes et les performances de mon site e-commerce ?",
									answer:
										"<p>R : Nos solutions E-commerce intégrent déjà des outils de suivis statistiques afin de connaitre à tout moment votre chiffre d'affaire, votre panier moyen, le nombre de visiteurs etc. Nous intégrons également des outils d'analyse comme Google Analytics, qui vous permettront de suivre le comportement des utilisateurs et d'autres métriques importantes pour évaluer les performances de votre site.</p>",
								},
								{
									title:
										"Q : Offrez-vous un support après le lancement du site ?",
									answer:
										"<p>R : Oui, nous proposons des services de support et de maintenance pour résoudre les problèmes de gestion que vous pourriez rencontrer, mettre à jour le site, et assurer son bon fonctionnement continu.</p>",
								},
								{
									title:
										"Q : Puis-je gérer moi-même les stocks et les produits sur le site ?",
									answer:
										"<p>R : Absolument. Nous configurons votre site e-commerce sur des plateformes comme Shopify, WooCommerce, ou Prestashop, qui offrent des interfaces conviviales pour gérer les stocks et les produits facilement.</p>",
								},
								{
									title:
										"Q : Comment assurez-vous la sécurité des données clients ?",
									answer:
										"<p>R : Nous utilisons des certificats SSL, des mesures de sécurité des serveurs, et des protocoles de conformité pour assurer la sécurité des données clients et des transactions sur votre site.</p>",
								},
								{
									title:
										"Q : Pouvez-vous intégrer des fonctionnalités spécifiques, comme des abonnements ou des ventes croisées ?",
									answer:
										"<p>R : Oui, nous pouvons intégrer diverses fonctionnalités avancées, y compris des options d'abonnement, des recommandations de produits, des ventes croisées et montées en gamme, pour améliorer l'expérience utilisateur et augmenter les ventes.</p>",
								},
							]}
						/>
					</div>
					<div class="novacontainer glow" transition:persist>
						<div class="novainner">
							<div class="header-nova-box">
								<Image
									src={logoGDM}
									width="230"
									height="40"
									alt="logo GDM-Pixel"
									loading="lazy"
								/>
							</div>
							<Image
								src={NovaImage}
								width="410"
								height="273"
								alt="Nova"
								loading="lazy"
							/>
							<p>Vous ne trouvez pas de réponse à votre question ?</p>
							<span class="ask">Demandez à NOVA</span>
							<button class="cta red" onclick="openNova()"
								>Posez votre question</button
							>
						</div>
					</div>
				</div>
			</div>
		</section>
		<Testislider />
		<MainCTA />
		<EcommerceSlider />
	</main>
	<Footer />
</Layout>

<style lang="scss">
	.container {
		max-width: 1400px;
	}

	.reassurance {
		@apply mx-auto xxl:-mt-20 xl:-mt-12 -mt-12 relative z-10 container;
	}
	.cta-container-centered {
		@apply flex flex-col sm:flex-row items-center justify-center gap-4 mt-8;
		.cta {
			@apply w-52 text-center items-center;
		}
	}
	.faqbox {
		@apply bg-gradient-to-b from-[#1B3751] to-[#232634] py-24 text-white;
		.faqcontainer {
			@apply lg:w-2/3 md:w-3/5 rounded-md overflow-clip relative z-20;
		}

		.header-nova-box {
			@apply px-4 py-6 flex justify-center;
		}

		.novacontainer {
			@apply lg:w-1/3 md:w-2/5 rounded-lg relative md:self-start self-center
		flex flex-col md:justify-start justify-center items-center transition-all duration-300 ease-in-out opacity-100 translate-y-0;
			&.sticky {
				@apply md:top-0 transition-all md:mb-24 duration-300 ease-in-out md:opacity-95 md:translate-y-20;
			}

			.novainner {
				@apply pt-4 pb-12 bg-prussian-600 relative z-10 flex flex-col justify-center items-center self-center;
			}
			img {
				@apply w-full;
			}
			p {
				@apply px-4 py-6 text-center text-md;
			}
			.ask {
				@apply block text-center text-xl lg:text-xl xl:text-xxl uppercase font-bold mb-6;
			}
		}

		.glow::before,
		.glow::after {
			content: "";
			position: absolute;
			left: -2px;
			top: -2px;

			background: linear-gradient(
				45deg,
				#0dffd7,
				#0c67fa,
				#217eff,
				#00e1ff,
				#cff7ff,
				#23e9ff,
				#0055ff,
				#00d4f5,
				#0dffd7
			);
			background-size: 400%;
			width: calc(100% + 4px);
			height: calc(100% + 4px);

			animation: animate 60s linear infinite;
		}
		@keyframes animate {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 300% 0;
			}
			100% {
				background-position: 0 0;
			}
		}
		.glow:after {
			filter: blur(15px);
			opacity: 0.5;
		}
	}
</style>
