---
import { Image } from "astro:assets";
import logoGDM from "../../assets/img/logo-gdm-white.svg";
import NovaImage from "../../assets/img/nova.png";
import IntroCreasite from "../../assets/img/intro-creasite.png";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroBoxCreasite from "../../components/HeroBoxCreasite.astro";
import Reassurance from "../../components/Reassurance.astro";
import GaucheDroite from "../../components/Gauche-Droite.astro";
import PixelSeparator from "../../components/PixelSeparator.astro";
import TabNavigationCreasite from "../../components/TabNavigationCreasite.jsx";
import MainCTA from "../../components/MainCTA.astro";
import Accordion from "../../components/Accordion.astro";
import Footer from "../../components/Footer.astro";
import * as animations from "../../components/animations.js";
import HomeBlogSlider from "../../components/HomeBlogSlider.astro";
import CaseStudySlider from "../../components/CaseStudySlider.astro";
import ProcessTravailSlider from "../../components/ProcessTravailSlider.astro";
import TestimonialSlider from "../../components/TestimonialSlider.astro";
import CTABand from "../../components/CTABand.astro";

---

<Layout title="Page des composants" description="Ceci est la meta description">
	<Header />
	<HeroBoxCreasite />
	<main>
		
		<!-- REASSURANCE -->
		<div class="reassurance" transition:animate={animations.animInFromBottom}>
			<div class="grid lg:grid-cols-4 md:grid-cols-2 gap-8">
				<Reassurance
					title="Expérience et expertise"
					icon="fa-hat-wizard"
					body="15 ans d'expérience dans la conception web"
					color="prussian"
				/>
				<Reassurance
					title="Approche sur mesure"
					icon="fa-ruler"
					body="Solutions sur mesure correspondant à vos besoins"
					color="prussian"
				/>
				<Reassurance
					title="Ergonomie et rapidité"
					icon="fa-rocket-launch"
					body="Nos sites sont conçus pour être rapides et pratiques"
					color="prussian"
				/>
				<Reassurance
					title="Sites et serveurs sécurisés"
					icon="fa-shield-check"
					body="Nous travaillons avec des hébergeurs fiables"
					color="prussian"
				/>
			</div>
		</div>
		<!-- FIN DE REASSURANCE -->

		<GaucheDroite
			subtitle="A propos"
			title="Nous faisons des sites, et nous le faisons comme il faut !"
			intro="Parce que “chaque chose qui mérite d’être faite, mérite d’être bien faite”."
			body='<p class="mb-3">En 15 ans d’activité, nous avons vu le web se transformer, et pas toujours dans le bon sens. L’uberisation du métier de créateur de site web n’est pas une légende, et celui qui en paie le prix, c’est toujours le client.</p><p>Chez GDM-Pixel, <strong>nous faisons des sites, et nous le faisons bien</strong>. De l’étude SEO à la mise en ligne de votre site, en passant par le maquettage, le copywriting et l’intégration, vous pouvez être sur que <strong>votre mission est confiée à un expert, et que rien n’est laissé au hasard</strong>.</p>'
			imgsrc={IntroCreasite}
			imgalt="Création de site internet à Caen"
			reverse={true}
		/>
		<section
			class="nos-services bg-gradient-to-b from-[#1B3751] to-[#232634] py-24">
			<div class="section-header dark">
				<span class="subtitle text-moonstone-400"
					>Nos services</span
				>
				<h2 class="section-title">
					Nos services en matière de création de site internet à Caen
				</h2>
				<PixelSeparator />
			</div>
			<TabNavigationCreasite client:idle/>
		</section>
		<section class="row bg-white pt-24 pb-16 process">
			<div class="section-header">
				<span class="subtitle text-moonstone-400"
					>Nos services</span
				>
				<h2 class="section-title">Notre processus de travail</h2>
				<PixelSeparator/>
			</div>
			<ProcessTravailSlider />
		</section>
		<CTABand />
		<section class="case-study container py-24">
			<div class="section-header left">
				<span class="subtitle text-dustyred-400 block"
					>Etudes de cas</span
				>
				<h2 class="section-title">
					Quelques une de nos dernières créations (et leur contenu)
				</h2>
				<PixelSeparator />
			</div>
			
			<CaseStudySlider />
		</section>

		<section
			class="testimonials bg-gradient-to-b from-[#1B3751] to-[#232634] py-24">
			<div class="section-header dark">
				<span class="subtitle text-moonstone-400"
					>Témoignages de clients</span>
				<h2 class="section-title">
					Ils ont travaillé avec nous,<br/> et ils en parlent !
				</h2>
				<PixelSeparator />
			</div>	
			<TestimonialSlider />	
		</section>

		<section>
			<HomeBlogSlider />
		</section>
		<MainCTA />
		<section class="faqbox">
			<div class="container">
				<div class="section-header left">
					<span class="h6 text-moonstone-400 uppercase font-semibold mb-6 block"
						>FAQ</span
					>
					<h2 class="section-title">Réponses aux questions fréquentes</h2>
					<PixelSeparator />
				</div>

				<div class="row flex flex-col md:flex-row gap-6">
					<div class="faqcontainer">
						
						<Accordion
					items={[
						{
							title: "Q : Combien coûte la création d’un site internet ?",
							answer:
								"<p>R : Tout dépend de votre projet ! Le coût d’une création peut aller de quelques centaines à plusieurs milliers d’euros.</p><p>Je peux vous proposer une formule sur mesure, réalisée sur devis, ou bien une formule en abonnement mensuel, à partir de 29 € par mois. Tout est possible !</p>",
								isopen:true,
						},
						{
							title: "Q : Pourquoi choisir GDM-Pixel plutôt qu’une autre agence ?",
							answer:
								"<p>R : Tout d’abord, en tant que webmaster freelance, mon but n’est pas de vous vendre un service, mais bien plutôt de vous orienter vers la meilleure solution pour votre problématique. Avant de démarrer un projet, je réalise conseil et audit afin de déterminer la meilleure stratégie, en fonction de votre secteur d’activité et de l’état du marché.</p><p>Je procède de la même façon pour les technologies à utiliser : je privilégie toujours le meilleur rapport qualité-prix.</p><p>J’ai également 10 ans d’expérience en création de site, et mon travail en centre de formation m’a amené à travailler sur toute sorte de projet. Je connais bien les problématiques rencontrées par les chefs d’entreprise pour communiquer sur le web, que ce soit à une échelle locale ou internationale.</p><p> Enfin, mon expériences en tant que membre de jury d’examen pour des formations de l’enseignement supérieur m’a conduit à avoir une vue d’ensemble de ce qu’est devenu le web au cours de ces dernières années : mon approche des métiers du web est basée à la fois sur mon expérience personnelle et sur celles de tous les intervenants avec qui je collabore (professionnels, enseignants, clients, élèves, prestataires de service).</p>",
						},
						{
							title: "Q : Avec quel type de client travaillez-vous ?",
							answer:
								"<p>R : Je travaille principalement avec des PMI-PME, situées en France et en Europe, mais également à l’étranger (Suisse, Israël, Angleterre, États-Unis).</p><p>Mes solutions s’adressent à la fois aux petites sociétés et aux structures plus importantes qui ont besoin d’externaliser une partie de leur activité. Je sous traite ainsi avec plusieurs agences, lorsqu’elles font face à un surcroit d’activité ou qu’une compétence dont elles ont besoin n’est pas internalisée.</p>",
						},
							{
							title: "Q : Une création de site web peut-elle se faire à distance ?",
							answer:
								"<p>R : Une création de site Web se fait toujours à distance ! La réalisation d’un site passe par la création de fichiers multimédias, sur un ordinateur de bureau, qui seront ensuite mis en ligne sur un ordinateur, qu’il soit à 500 m ou à l’autre bout de la planète.</p><p>Je suis équipé des dernières technologies en matière de travail à distance (VOIP, partage d’écran, vidéo-conférence etc), ce qui me permet de collaborer avec des sociétés situées partout dans le monde.</p>",
						},
													{
							title: "Q : Sera-t-il possible de faire évoluer mon site ?",
							answer:
								"<p>R : OUI ! Rien n’est gravé dans le marbre : je privilégie les systèmes de gestion de contenu Open-Source, grâce auxquels vous pouvez facilement éditer vos pages, modifier des images etc.</p><p>Vous pouvez même rajouter des fonctionnalités en quelques clics, sans aucune compétence technique.</p>",
						},
													{
							title: "Q : Y a-t-il des outils de suivi statistique avec mon site ?",
							answer:
								"<p>R : Oui ! Mes solutions sont livrées avec des outils de suivi de trafic, les statistiques de conversion, ainsi que toutes les données nécessaires pour suivre précisément l’évolution de votre chiffre d’affaires ou des contacts de vos clients.</p><p> Il est également possible de personnaliser votre interface de suivi statistiques en fonction de vos objectifs, des intervenants ciblés, et d’automatiser la publication de certains rapports d’activité, en fonction de vos besoins.</p>",
						},
													{
							title: "Q : Faites-vous des copies de sauvegarde ?",
							answer:
								"<p>R : Tout dépend de la formule pour laquelle vous optez : vous pouvez tout à fait être maitre à 100 % de votre site et de son environnement informatique, ou bien choisir une formule d’hébergement où vous n’avez rien à gérer et où sauvegardes et maintenance sont réalisés régulièrement, pour votre tranquilité d’esprit.</p>",
						},
													{
							title: "Q : Comment accéder à mes e-mails ?",
							answer:
								"<p>R : Lors de la mise en place de votre boîte mail professionnelle, un technicien prend contact avec vous pour installer un logiciel de messagerie à distance, sur votre Smartphone ou votre ordinateur de bureau.</p>",
						},
													{
							title: "Q : J’ai déjà un site, que je dois refondre. Vous savez faire ?",
							answer:
								"<p>R : Oui. Il faut cependant savoir qu’une refonte de site est une opération délicate, lancer le processus sans précaution, et c’est la perte de trafic assurée ! De ce fait, une refonte de site est toujours un peu plus coûteuse qu’une création simple, car il faut assurer la jonction technique entre l’ancienne et la nouvelle version du site.</p>",
						},
					]}
				/></div>
					<div class="novacontainer glow" transition:persist>
						<div class="novainner">
							<div class="header-nova-box">
								<Image
									src={logoGDM}
									width="230"
									height="40"
									alt="logo GDM-Pixel"
									loading="lazy"
								/>
							</div>
							<Image
								src={NovaImage}
								width="410"
								height="273"
								alt="Nova"
								loading="lazy"
							/>
							<p>Vous ne trouvez pas de réponse à votre question ?</p>
							<span class="ask">Demandez à NOVA</span>
							<button class="cta red" onclick="openNova()"
								>Posez votre question</button
							>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<Footer />
</Layout>
<script>
	function setup() {
		window.addEventListener("scroll", function () {
			var novacontainer = document.querySelector(".novacontainer");
			if (novacontainer) {
				var rect = novacontainer.getBoundingClientRect();
				var isCloseToTop = rect.top <= 10; // 10 pixels de marge, ajustez selon vos besoins

				novacontainer.classList.toggle("sticky", isCloseToTop);
			}
		});
	}

	document.addEventListener("DOMContentLoaded", setup);
	document.addEventListener("astro:page-load", setup);
</script>
<style lang="scss">
	.container {
		max-width: 1400px;
	}

	.reassurance {
		@apply mx-auto xxl:-mt-20 xl:-mt-12 -mt-12 relative z-10 container;
	}
	.tab-content {
		@apply bg-dustyred-500;
	}
	.faqbox {
		@apply bg-white py-24 text-white;
		.faqcontainer {
			@apply lg:w-2/3 md:w-3/5 rounded-md overflow-clip relative z-20;
		}

		.header-nova-box {
			@apply px-4 py-6 flex justify-center;
		}

		.novacontainer {
			@apply lg:w-1/3 md:w-2/5 rounded-lg relative md:self-start self-center
		flex flex-col md:justify-start justify-center items-center transition-all duration-300 ease-in-out opacity-100 translate-y-0;
			&.sticky {
				@apply md:top-0 transition-all md:mb-24 duration-300 ease-in-out md:opacity-95 md:translate-y-20;
				position: sticky;
			}

			.novainner {
				@apply pt-4 pb-12 bg-prussian-600 relative z-10 flex flex-col justify-center items-center self-center;
			}
			img {
				@apply w-full;
			}
			p {
				@apply px-4 py-6 text-center text-md;
			}
			.ask {
				@apply block text-center text-xl lg:text-xl xl:text-xxl uppercase font-bold mb-6;
			}
		}

		.glow::before,
		.glow::after {
			content: "";
			position: absolute;
			left: -2px;
			top: -2px;

			background: linear-gradient(
				45deg,
				#0dffd7,
				#0c67fa,
				#217eff,
				#00e1ff,
				#cff7ff,
				#23e9ff,
				#0055ff,
				#00d4f5,
				#0dffd7
			);
			background-size: 400%;
			width: calc(100% + 4px);
			height: calc(100% + 4px);

			animation: animate 60s linear infinite;
		}
		@keyframes animate {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 300% 0;
			}
			100% {
				background-position: 0 0;
			}
		}
		.glow:after {
			filter: blur(15px);
			opacity: 0.5;
		}
	}
</style>
