---
import { Image } from "astro:assets";
import logoGDM from "../../assets/img/logo-gdm-white.svg";
import NovaImage from "../../assets/img/nova.png";
import IntroCreasite from "../../assets/img/intro-creasite.png";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroBoxCreasite from "../../components/HeroBoxCreasite.astro";
import Reassurance from "../../components/Reassurance.astro";
import GaucheDroite from "../../components/Gauche-Droite.astro";
import PixelSeparator from "../../components/PixelSeparator.astro";
import TabNavigationCreasite from "../../components/TabNavigationCreasite.jsx";
import MainCTA from "../../components/MainCTA.astro";
import Accordion from "../../components/Accordion.astro";
import Footer from "../../components/Footer.astro";
import * as animations from "../../components/animations.js";
import HomeBlogSlider from "../../components/HomeBlogSlider.astro";
import CaseStudySlider from "../../components/CaseStudySlider.astro";
import ProcessTravailSlider from "../../components/ProcessTravailSlider.astro";
import TestimonialSlider from "../../components/TestimonialSlider.astro";
import CTABand from "../../components/CTABand.astro";

---

<Layout title="Page des composants" description="Ceci est la meta description">
	<Header />
	<HeroBoxCreasite />
	<main>
		
		<!-- REASSURANCE -->
		<div class="reassurance" transition:animate={animations.animInFromBottom}>
			<div class="grid lg:grid-cols-4 md:grid-cols-2 gap-8">
				<Reassurance
					title="Expérience et expertise"
					icon="fa-hat-wizard"
					body="15 ans d'expérience dans la conception web"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Approche sur mesure"
					icon="fa-ruler"
					body="Solutions sur mesure correspondant à vos besoins"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Ergonomie et rapidité"
					icon="fa-rocket-launch"
					body="Nos sites sont conçus pour être rapides et pratiques"
					color="prussian"
					size="medium"
				/>
				<Reassurance
					title="Sites et serveurs sécurisés"
					icon="fa-shield-check"
					body="Nous travaillons avec des hébergeurs fiables"
					color="prussian"
					size="medium"
				/>
			</div>
		</div>
		<!-- FIN DE REASSURANCE -->

		<GaucheDroite
			subtitle="A propos"
			title="Nous faisons des sites, et nous le faisons comme il faut !"
			intro="Parce que “chaque chose qui mérite d’être faite, mérite d’être bien faite”."
			body='<p class="mb-3">En 15 ans d’activité, nous avons vu le web se transformer, et pas toujours dans le bon sens. L’uberisation du métier de créateur de site web n’est pas une légende, et celui qui en paie le prix, c’est toujours le client.</p><p>Chez GDM-Pixel, <strong>nous faisons des sites, et nous le faisons bien</strong>. De l’étude SEO à la mise en ligne de votre site, en passant par le maquettage, le copywriting et l’intégration, vous pouvez être sur que <strong>votre mission est confiée à un expert, et que rien n’est laissé au hasard</strong>.</p>'
			imgsrc={IntroCreasite}
			imgalt="Création de site internet à Caen"
			reverse={true}
		/>
		<section
			class="nos-services bg-gradient-to-b from-[#1B3751] to-[#232634] py-24">
			<div class="section-header dark">
				<span class="subtitle text-moonstone-400"
					>Nos services</span
				>
				<h2 class="section-title">
					Nos services en matière de création de site internet à Caen
				</h2>
				<PixelSeparator />
			</div>
			<TabNavigationCreasite client:idle/>
		</section>
		<section class="row bg-white pt-24 pb-16 process">
			<div class="section-header">
				<span class="subtitle text-moonstone-400"
					>Nos services</span
				>
				<h2 class="section-title">Notre processus de travail</h2>
				<PixelSeparator/>
			</div>
			<ProcessTravailSlider />
		</section>
		<CTABand />
		<section class="case-study container py-24">
			<div class="section-header left">
				<span class="subtitle text-dustyred-400 block"
					>Etudes de cas</span
				>
				<h2 class="section-title">
					Quelques une de nos dernières créations (et leur contenu)
				</h2>
				<PixelSeparator />
			</div>
			
			<CaseStudySlider />
		</section>

		<section
			class="testimonials bg-gradient-to-b from-[#1B3751] to-[#232634] py-24">
			<div class="section-header dark">
				<span class="subtitle text-moonstone-400"
					>Témoignages de clients</span>
				<h2 class="section-title">
					Ils ont travaillé avec nous,<br/> et ils en parlent !
				</h2>
				<PixelSeparator />
			</div>	
			<TestimonialSlider />	
		</section>

		<section>
			<HomeBlogSlider />
		</section>
		<MainCTA />
		<section class="faqbox">
			<div class="container">
				<div class="section-header left">
					<span class="h6 text-moonstone-400 uppercase font-semibold mb-6 block"
						>FAQ</span
					>
					<h2 class="section-title">Réponses aux questions fréquentes</h2>
					<PixelSeparator />
				</div>

				<div class="row flex flex-col md:flex-row gap-6">
					<div class="faqcontainer">
						
						<Accordion
					items={[
						{
							title: "Q : Combien de temps faut-il pour créer un site web ?",
							answer:
								"<p>R : Le temps nécessaire pour créer un site web varie selon la complexité du projet. Un site simple peut prendre quelques semaines, tandis qu'un site plus complexe peut nécessiter plusieurs mois. Nous établirons un calendrier réaliste lors de la planification initiale.</p>",
								isopen:true,
						},
						{
							title: "Q : Quel est le coût moyen de création d'un site web ?",
							answer:
								"<p>R : Le coût dépend de plusieurs facteurs, tels que la complexité du design, les fonctionnalités intégrées, et le contenu personnalisé. Nous proposons un devis détaillé après avoir compris vos besoins spécifiques.</p>",
						},
						{
							title: "Q : Proposez-vous des services de maintenance après la création du site ?",
							answer:
								"<p>R : Oui, nous proposons des services de maintenance pour assurer la sécurité, la mise à jour et le bon fonctionnement de votre site à long terme.</p>",
						},
							{
							title: "Q : Mon site sera-t-il compatible avec les mobiles ?",
							answer:
								"<p>R : Absolument. Nous utilisons le design responsive pour garantir que votre site fonctionne bien sur tous les appareils, y compris les smartphones et les tablettes. En outre, nous mettons un point d'honneur à ne construire que des sites rapides, donc, vraiment, pas de souci pour les terminaux mobiles !</p>",
						},
													{
							title: "Q : Comment puis-je suivre la progression de mon site web pendant sa création ?",
							answer:
								"<p>R : Nous fournissons des mises à jour régulières et avons des points de contrôle où vous pouvez examiner le travail en cours, donner des retours et faire des ajustements. Nous pouvons égalment vous donner un accès au serveur de développement pour que vous puissiez voir par vous même comment les travaux avancent. Et enfin, nous avons un outil de gestion de projet, auquel vous avez accès, afin de faciliter la collaboration avec nos développeurs.</p>",
						},
													{
							title: "Q : Puis-je mettre à jour mon site moi-même après sa création ?",
							answer:
								"<p>R : Oui, nous pouvons construire votre site sur un CMS (système de gestion de contenu) comme WordPress, qui vous permet de faire des mises à jour facilement sans connaissances techniques approfondies. Nous proposons également des sites sur Prestashop, pour le E-commerce, ou Astro, pour avoir des sites ultra-modernes sur framework Javascript.</p>",
						},
													{
							title: "Q : Comment optimisez-vous les sites web pour les moteurs de recherche ?",
							answer:
								"<p>R : Nous intégrons des pratiques SEO de base, y compris l'optimisation des balises titre et méta, la structure des URL, le contenu de qualité, et la vitesse du site pour améliorer votre visibilité dans les résultats de recherche. Nous proposons également des packages supplémentaires, comme la recherche de mots-clés ou l'optimisation on-page, la mise en place de cocons sémantiques et d'autres techniques avancées pour booster encore plus le trafic vers vos pages.</p>",
						},
													{
							title: "Q : Fournissez-vous des services de rédaction de contenu ?",
							answer:
								"<p>R : Oui, nous offrons des services de rédaction pour aider à créer un contenu engageant et optimisé pour les moteurs de recherche.</p>",
						},
													{
							title: "Q : Comment assurez-vous la sécurité du site web ?",
							answer:
								"<p>R : Nous adoptons des mesures de sécurité robustes, y compris des certificats SSL, des configurations de sécurité serveur, et des plugins de sécurité pour protéger votre site contre les cyber-menaces.</p>",
						},
						{
							title: "Q : Proposez-vous des formations sur la gestion du site ?",
							answer:
								"<p>R : Oui, nous proposons des formations pour vous aider à comprendre comment gérer et mettre à jour votre site, assurant une transition en douceur après le lancement du site. Ces formations sont finançables via votre Opco, donc dans la plupart des cas, vous n'avez presque rien à débourser !</p>",
						},
					]}
				/></div>
					<div class="novacontainer glow" transition:persist>
						<div class="novainner">
							<div class="header-nova-box">
								<Image
									src={logoGDM}
									width="230"
									height="40"
									alt="logo GDM-Pixel"
									loading="lazy"
								/>
							</div>
							<Image
								src={NovaImage}
								width="410"
								height="273"
								alt="Nova"
								loading="lazy"
							/>
							<p>Vous ne trouvez pas de réponse à votre question ?</p>
							<span class="ask">Demandez à NOVA</span>
							<button class="cta red" onclick="openNova()"
								>Posez votre question</button
							>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<Footer />
</Layout>
<script>
	function setup() {
		window.addEventListener("scroll", function () {
			var novacontainer = document.querySelector(".novacontainer");
			if (novacontainer) {
				var rect = novacontainer.getBoundingClientRect();
				var isCloseToTop = rect.top <= 10; // 10 pixels de marge, ajustez selon vos besoins

				novacontainer.classList.toggle("sticky", isCloseToTop);
			}
		});
	}

	document.addEventListener("DOMContentLoaded", setup);
	document.addEventListener("astro:page-load", setup);
</script>
<style lang="scss">
	.container {
		max-width: 1400px;
	}

	.reassurance {
		@apply mx-auto xxl:-mt-20 xl:-mt-12 -mt-12 relative z-10 container;
	}
	.tab-content {
		@apply bg-dustyred-500;
	}
	.faqbox {
		@apply bg-white py-24 text-white;
		.faqcontainer {
			@apply lg:w-2/3 md:w-3/5 rounded-md overflow-clip relative z-20;
		}

		.header-nova-box {
			@apply px-4 py-6 flex justify-center;
		}

		.novacontainer {
			@apply lg:w-1/3 md:w-2/5 rounded-lg relative md:self-start self-center
		flex flex-col md:justify-start justify-center items-center transition-all duration-300 ease-in-out opacity-100 translate-y-0;
			&.sticky {
				@apply md:top-0 transition-all md:mb-24 duration-300 ease-in-out md:opacity-95 md:translate-y-20;
				position: sticky;
			}

			.novainner {
				@apply pt-4 pb-12 bg-prussian-600 relative z-10 flex flex-col justify-center items-center self-center;
			}
			img {
				@apply w-full;
			}
			p {
				@apply px-4 py-6 text-center text-md;
			}
			.ask {
				@apply block text-center text-xl lg:text-xl xl:text-xxl uppercase font-bold mb-6;
			}
		}

		.glow::before,
		.glow::after {
			content: "";
			position: absolute;
			left: -2px;
			top: -2px;

			background: linear-gradient(
				45deg,
				#0dffd7,
				#0c67fa,
				#217eff,
				#00e1ff,
				#cff7ff,
				#23e9ff,
				#0055ff,
				#00d4f5,
				#0dffd7
			);
			background-size: 400%;
			width: calc(100% + 4px);
			height: calc(100% + 4px);

			animation: animate 60s linear infinite;
		}
		@keyframes animate {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 300% 0;
			}
			100% {
				background-position: 0 0;
			}
		}
		.glow:after {
			filter: blur(15px);
			opacity: 0.5;
		}
	}
</style>
