---
import BookMe from "../components/BookMe.astro";
interface Props {
	title: string;
	description: string;
	ogimage?: string;
}
const { title, description, ogimage } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Repere from "../components/Repere.astro";
import TakuLauncher from "../components/TakuLauncher.jsx";
---

<!doctype html>
<html lang="fr">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="robots" content="noindex, follow" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Charles Annoni - GDM-Pixel" />
		<meta name="theme-color" content="#13151a" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@GDM_Pixel" />
		<meta name="twitter:creator" content="@GDM_Pixel" />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta
			property="og:image"
			content={ogimage
				? `https://www.gdm-pixel.fr${ogimage}`
				: "https://www.gdm-pixel.fr/img/Opengraph-img.jpg"}
		/>
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content="GDM-Pixel, Agence web à Caen" />
		<meta property="og:locale" content="fr_FR" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<button id="taku-launcher"
			><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
				><path
					d="M320 48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H284.5c12 18.4 27.4 34.5 45.3 47.3c-3.2 .5-6.4 .7-9.7 .7H64c-35.3 0-64-28.7-64-64V64C0 28.7 28.7 0 64 0H320c35.3 0 64 28.7 64 64V198.6c-17.2 4.9-33.4 12.3-48 21.8V64c0-8.8-7.2-16-16-16zM96 152c0-13.3 10.7-24 24-24H264c13.3 0 24 10.7 24 24s-10.7 24-24 24H120c-13.3 0-24-10.7-24-24zm24 72H264c13.3 0 24 10.7 24 24s-10.7 24-24 24H120c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 96h48c13.3 0 24 10.7 24 24s-10.7 24-24 24H120c-13.3 0-24-10.7-24-24s10.7-24 24-24zm312-96a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm0 96a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm-32 48c0 8.8 7.2 16 16 16h0v48h0c-8.8 0-16 7.2-16 16s7.2 16 16 16h16 16c8.8 0 16-7.2 16-16s-7.2-16-16-16V368c0-8.8-7.2-16-16-16H416c-8.8 0-16 7.2-16 16z"
				></path></svg
			></button
		>
		<TakuLauncher client:load/>
		<BookMe />

		<script>
			// @ts-nocheck
			function setupNovaListeners() {
				if (window.voiceflow && window.voiceflow.chat) {
					return;
				}
				(function (d, t) {
					var v = d.createElement(t),
						s = d.getElementsByTagName(t)[0];
					v.onload = function () {
						window.voiceflow.chat.load({
							verify: { projectID: "6579a0dea484f9a58503480e" },
							url: "https://general-runtime.voiceflow.com",
							versionID: "production",
							assistant: {
								title: "Nova",
								description: "Technico-commerciale chez GDM-Pixel",
								stylesheet: "https://dev.gdm-pixel.fr/css/nova.css", // LIEN CSS
							},
						});
					};

					v.src = "https://cdn.voiceflow.com/widget/bundle.mjs";

					v.type = "text/javascript";

					s.parentNode.insertBefore(v, s);
				})(document, "script");
			}
			function reloadVoiceflow() {
				if (window.voiceflow) {
					delete window.voiceflow.chat;
				}
				// Recréer le widget
				var button = document.querySelector(".novabtn");

				button.addEventListener("mouseover", function () {
					setupNovaListeners();
				});
			}
			var button = document.querySelector(".novabtn");

			button.addEventListener("mouseover", function () {
				setupNovaListeners();
			});
			document.addEventListener("astro:page-load", function () {
				reloadVoiceflow();
			});
			// @ts-check
		</script>
		<script>
			function watchNova() {
				// Sélectionner tous les éléments avec la classe .novabtn
				const novaButtons = document.querySelectorAll(".novabtn");
				if (novaButtons.length > 0) {
					novaButtons.forEach((novaButton) => {
						// Retirer l'ancien écouteur d'événement pour éviter les duplicatas
						novaButton.removeEventListener("click", handleNovaClick);
						// Ajouter le nouvel écouteur d'événement
						novaButton.addEventListener("click", handleNovaClick);
					});
				}
			}
			function handleNovaClick() {
				// Ouvrir le chat Voiceflow
				//@ts-ignore
				window.voiceflow.chat.open();
			}
			// Attacher l'écouteur d'événement lors du chargement initial
			watchNova();
			// Réattacher l'écouteur d'événement après chaque changement de page dans Astro
			document.addEventListener("astro:page-load", watchNova);
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const loadedImages = {};
				//@ts-ignore
				function preloadImage(url) {
					//@ts-ignore
					if (!loadedImages[url]) {
						const img = new Image();
						img.src = url;
						//@ts-ignore
						loadedImages[url] = true;
					}
				}
				document.querySelectorAll("a[data-image-src]").forEach((link) => {
					link.addEventListener("mouseover", function () {
						//@ts-ignore
						preloadImage(this.getAttribute("data-image-src"));
					});
				});
			});
		</script>
		<script>
			import { Fancybox } from "@fancyapps/ui";
			import "@fancyapps/ui/dist/fancybox/fancybox.css";
			Fancybox.bind("[data-fancybox]", {
				// Your custom options
			});
		</script>

		<script>
			// @ts-nocheck
		
				/*!(function (t, e, a, n) {
					window.takuLauncher = function () {
						if (!e.getElementById(a) && !window.takuLoaded) {
							var c = e.createElement(n);
							c.type = "text/javascript";
							c.async = !0;
							c.src = "https://cdn.taku-app.com/js/latest.js";
							c.onload = function () {
								window.Taku("news:boot", {
									api_public_key:
										"oI/KXl6RR47CCmPPlLn3VL9bCzveD7AkrbX0r+1ZldI=",
									custom_launcher: "#taku-launcher",
								});
							};
							var t = e.getElementsByTagName(n)[0];
							t.parentNode.insertBefore(c, t);
							window.takuLoaded = true;
						}
					};
				})(window, document, "taku-js", "script");
				document
					.getElementById("taku-launcher")
					.addEventListener("mouseenter", window.takuLauncher);
				*/
			// @ts-check
		</script>

		<style is:global lang="scss">
			#taku-launcher {
				@apply fixed right-[20px] bottom-[100px] bg-dustyred-400 w-[60px] h-[60px] p-3 rounded-full;
				svg {
					@apply fill-white w-full h-auto transition-all duration-300;
				}
				&:hover {
					@apply bg-moonstone-500 transition-all duration-300;
				}
			}
			body {
				overflow-x: clip;
			}
			article {
				.featuredimg {
					@apply mb-4;
				}
				.featuredvideo {
					@apply mb-4 w-full aspect-[16/9];
				}
				h1 {
					@apply leading-tight mb-4;
				}
			}
			@media screen and (max-width: 767px) {
				.container {
					@apply max-w-full px-6;
				}
			}

			.inner_container_lg {
				@apply mx-auto;
				max-width: 1600px;
			}
			a {
				@apply text-moonstone-400 transition-all duration-300;
				&:hover {
					@apply text-dustyred-400 transition-all duration-300;
				}
			}
			.cta {
				@apply border-2 border-solid text-white font-bold rounded-md px-6 py-3 drop-shadow-lg shadow-prussian-700;
				&:hover {
					@apply text-white;
				}
				&.red {
					@apply border-dustyred-100 bg-gradient-to-r from-dustyred-300 to-dustyred-800;
					&:hover {
						@apply border-moonstone-200 bg-gradient-to-r from-moonstone-300 to-moonstone-700;
					}
					&.sktn {
						@apply bg-transparent text-dustyred-400 border-4 border-dustyred-400 bg-none;
						&:hover {
							@apply bg-dustyred-400 text-white;
						}
					}
				}
				&.blue {
					@apply border-moonstone-200 bg-gradient-to-r from-moonstone-300 to-moonstone-700;
					&:hover {
						@apply border-dustyred-100 bg-gradient-to-r from-dustyred-300 to-dustyred-800;
					}
				}
			}
			.gogdm {
				&:hover {
					cursor: pointer;
				}
			}
			.fa-x-twitter,
			.fa-square-x-twitter {
				width: 100px;
			}

			.category-header {
				@apply mx-auto container mb-12;
			}
			@keyframes fadeIn {
				0% {
					opacity: 0;
					transform: translateX(60px);
				}
				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}
			@keyframes fadeOut {
				0% {
					opacity: 1;
					transform: translateX(0);
				}
				100% {
					opacity: 0;
					transform: translateX(-200px);
				}
			}

			@keyframes fadeInFromBottom {
				0% {
					opacity: 0;
					transform: translateY(60px);
				}
				50% {
					opacity: 0;
					transform: translateY(60px);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}

			@keyframes fadeOutToLeft {
				0% {
					opacity: 1;
					transform: translateX(0);
				}
				100% {
					opacity: 0;
					transform: translateX(-200px);
				}
			}
			@media (max-width: 640px) {
				html {
					font-size: 14px;
				}
			}
		</style>
	</body>
</html>
