---
import BookMe from "../components/BookMe.astro";
interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="fr">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="robots" content="noindex, follow" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Charles Annoni - GDM-Pixel" />
		<meta name="theme-color" content="#13151a" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@GDM_Pixel" />
		<meta name="twitter:creator" content="@GDM_Pixel" />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content="/img/Opengraph-img.jpg" />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content="GDM-Pixel, Agence web à Caen" />
		<meta property="og:locale" content="fr_FR" />
		<style is:inline>
			.heroboxhome,
			.herobox,
			.herobox.medium {
				background: #273043;
				position: relative;
				overflow: clip;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				z-index: 0;
			}
			.herobox.medium {
				height: 485px;
			}
			.heroimg {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: -10;
			}
		</style>
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<BookMe />
		<script>
			function setupNovaListeners() {
				//@ts-ignore
				if (window.voiceflow && window.voiceflow.chat) {
        		return;
   				 }
				(function (d, t) {
					var v = d.createElement(t),
						s = d.getElementsByTagName(t)[0];
					v.onload = function () {
						//@ts-ignore
						window.voiceflow.chat.load({
							verify: { projectID: "6579a0dea484f9a58503480e" },
							url: "https://general-runtime.voiceflow.com",
							versionID: "production",
							assistant: {
								title: "Nova",
								description: "Technico-commerciale chez GDM-Pixel",
								stylesheet: "https://dev.gdm-pixel.fr/css/nova.css", // Remplacez par votre lien de feuille de style
							},
						});
					};
					//@ts-ignore
					v.src = "https://cdn.voiceflow.com/widget/bundle.mjs";
					//@ts-ignore
					v.type = "text/javascript";
					//@ts-ignore
					s.parentNode.insertBefore(v, s);
				})(document, "script");
			}
			function reloadVoiceflow() {
				//@ts-ignore
				if (window.voiceflow) {
					//@ts-ignore
					delete window.voiceflow.chat;
				}
				// Recréer le widget
				var button = document.querySelector(".novabtn");
				//@ts-ignore
				button.addEventListener("mouseover", function () {
					setupNovaListeners();
				});
			}
			var button = document.querySelector(".novabtn");
			//@ts-ignore
			button.addEventListener("mouseover", function () {
				setupNovaListeners();
			});
			document.addEventListener("astro:page-load", function () {
				reloadVoiceflow();
			});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const loadedImages = {};
				//@ts-ignore
				function preloadImage(url) {
					//@ts-ignore
					if (!loadedImages[url]) {
						const img = new Image();
						img.src = url;
						//@ts-ignore
						loadedImages[url] = true;
					}
				}
				document.querySelectorAll("a[data-image-src]").forEach((link) => {
					link.addEventListener("mouseover", function () {
						//@ts-ignore
						preloadImage(this.getAttribute("data-image-src"));
					});
				});
			});
		</script>

		<script>
			function watchNova() {
				// Sélectionner tous les éléments avec la classe .novabtn
				const novaButtons = document.querySelectorAll(".novabtn");
				if (novaButtons.length > 0) {
					novaButtons.forEach((novaButton) => {
						// Retirer l'ancien écouteur d'événement pour éviter les duplicatas
						novaButton.removeEventListener("click", handleNovaClick);
						// Ajouter le nouvel écouteur d'événement
						novaButton.addEventListener("click", handleNovaClick);
					});
				}
			}
			function handleNovaClick() {
				// Ouvrir le chat Voiceflow
				//@ts-ignore
				window.voiceflow.chat.open();
			}
			// Attacher l'écouteur d'événement lors du chargement initial
			watchNova();
			// Réattacher l'écouteur d'événement après chaque changement de page dans Astro
			document.addEventListener("astro:page-load", watchNova);
		</script>
		<script>
			//@ts-ignore
			!(function (t, e, a, n) {
				function c() {
					if (!e.getElementById(a)) {
						var t = e.getElementsByTagName(n)[0],
							c = e.createElement(n);
						//@ts-ignore
						(c.type = "text/javascript"),
							//@ts-ignore
							(c.async = !0),
							//@ts-ignore
							(c.src = "https://cdn.taku-app.com/js/latest.js"),
							//@ts-ignore
							t.parentNode.insertBefore(c, t);
					}
				}
				//@ts-ignore
				if ("function" != typeof t.Taku) {
					var s = function () {
						//@ts-ignore
						s.q.push(arguments);
					};
					//@ts-ignore
					(s.q = []),
						//@ts-ignore
						(t.Taku = s),
						"complete" === e.readyState
							? c()
							: //@ts-ignore
								t.attachEvent
								? //@ts-ignore
									t.attachEvent("onload", c)
								: t.addEventListener("load", c, !1);
				}
			})(window, document, "taku-js", "script");
			//@ts-ignore
			window.Taku("news:boot", {
				api_public_key: "oI/KXl6RR47CCmPPlLn3VL9bCzveD7AkrbX0r+1ZldI=",
				position: "right",
				launcher_options: {
					bg_color: "#d62246",
					text_color: "#ffffff",
					text: "Wazaaa",
				},
			});
		</script>
		<style is:global lang="scss">
			body {
				overflow-x: clip;
			}
			.heroimg {
				@apply absolute w-full h-full object-cover -z-10;
			}
			.section-header h2.section-title,
			.section-header.dark h2.section-title2 {
				@apply md:text-xxxl text-xl;
			}

			.accordion-content p {
				@apply mb-3;
				&:last-of-type {
					@apply mb-0;
				}
			}
			@media screen and (max-width: 767px) {
				.container {
					@apply max-w-full px-6;
				}
			}

			.inner_container_lg {
				@apply mx-auto;
				max-width: 1600px;
			}
			a {
				@apply text-moonstone-400 transition-all duration-300;
				&:hover {
					@apply text-dustyred-400 transition-all duration-300;
				}
			}
			.cta {
				@apply border-2 border-solid text-white font-bold rounded-md px-6 py-3 drop-shadow-lg shadow-prussian-700;
				&:hover {
					@apply text-white;
				}
				&.red {
					@apply border-dustyred-100 bg-gradient-to-r from-dustyred-300 to-dustyred-800;
					&:hover {
						@apply border-moonstone-200 bg-gradient-to-r from-moonstone-300 to-moonstone-700;
					}
					&.sktn {
						@apply bg-transparent text-dustyred-400 border-4 border-dustyred-400 bg-none;
						&:hover {
							@apply bg-dustyred-400 text-white;
						}
					}
				}
				&.blue {
					@apply border-moonstone-200 bg-gradient-to-r from-moonstone-300 to-moonstone-700;
					&:hover {
						@apply border-dustyred-100 bg-gradient-to-r from-dustyred-300 to-dustyred-800;
					}
				}
			}
			.gogdm {
				&:hover {
					cursor: pointer;
				}
			}
			.fa-x-twitter,
			.fa-square-x-twitter {
				width: 100px;
			}
			.section-header {
				@apply flex flex-col justify-center font-bold text-center items-center px-6  mb-10 max-w-3xl mx-auto;
				h2 {
					@apply text-xxxl mb-4;
				}
				&.dark {
					@apply text-white;
					h2 {
						@apply text-white;
					}
				}
				&.left {
					@apply text-left px-0 block max-w-full;
				}
			}
			.subtitle {
				@apply font-semibold uppercase mb-6;
			}
			.gauche-droite .col .body p {
				@apply mb-3;
			}
			.category-header {
				@apply mx-auto container mb-12;
			}
			@keyframes fadeIn {
				0% {
					opacity: 0;
					transform: translateX(60px);
				}
				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}
			@keyframes fadeOut {
				0% {
					opacity: 1;
					transform: translateX(0);
				}
				100% {
					opacity: 0;
					transform: translateX(-200px);
				}
			}

			@keyframes fadeInFromBottom {
				0% {
					opacity: 0;
					transform: translateY(60px);
				}
				50% {
					opacity: 0;
					transform: translateY(60px);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}

			@keyframes fadeOutToLeft {
				0% {
					opacity: 1;
					transform: translateX(0);
				}
				100% {
					opacity: 0;
					transform: translateX(-200px);
				}
			}
			@media (max-width: 640px) {
				html {
					font-size: 14px;
				}
			}
		</style>
	</body>
</html>
