---
import BookMe from "../components/BookMe.astro";
interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import NovaLauncher from "../components/NovaLauncher.astro";
---

<!doctype html>
<html lang="fr">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="robots" content="index, follow" />
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
		</script>
		<!-- Google Tag Manager -->
		<script is:inline>
			// @ts-nocheck
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-TZB5ZZ8X");
			// @ts-check
		</script>
		<!-- End Google Tag Manager -->
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Charles Annoni - GDM-Pixel" />
		<meta name="theme-color" content="#13151a" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@GDM_Pixel" />
		<meta name="twitter:creator" content="@GDM_Pixel" />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content="/img/Opengraph-img.jpg" />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content="GDM-Pixel, Agence web à Caen" />
		<meta property="og:locale" content="fr_FR" />
		<style is:inline>
			.heroboxhome,
			.herobox,
			.herobox.medium {
				background: #273043;
				position: relative;
				overflow: clip;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				z-index: 0;
			}
			.herobox.medium {
				height: 485px;
			}
			.heroimg {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: -10;
			}
		</style>
		<title>{title}</title>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-TZB5ZZ8X"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<slot />
		<BookMe />
		<NovaLauncher />

		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const loadedImages = {};
				//@ts-ignore
				function preloadImage(url) {
					//@ts-ignore
					if (!loadedImages[url]) {
						const img = new Image();
						img.src = url;
						//@ts-ignore
						loadedImages[url] = true;
					}
				}
				document.querySelectorAll("a[data-image-src]").forEach((link) => {
					link.addEventListener("mouseover", function () {
						//@ts-ignore
						preloadImage(this.getAttribute("data-image-src"));
					});
				});
			});
		</script>

		<style is:global lang="scss">
			body {
				overflow-x: clip;
			}
			.heroimg {
				@apply absolute w-full h-full object-cover -z-10;
			}
			.section-header h2.section-title,
			.section-header.dark h2.section-title2 {
				@apply md:text-xxxl text-xl;
			}

			.accordion-content p {
				@apply mb-3;
				&:last-of-type {
					@apply mb-0;
				}
			}
			@media screen and (max-width: 767px) {
				.container {
					@apply max-w-full px-6;
				}
			}

			.inner_container_lg {
				@apply mx-auto;
				max-width: 1600px;
			}
			a {
				@apply text-moonstone-400 transition-all duration-300;
				&:hover {
					@apply text-dustyred-400 transition-all duration-300;
				}
			}
			.cta {
				@apply border-2 border-solid text-white font-bold rounded-md px-6 py-3 drop-shadow-lg shadow-prussian-700;
				&:hover {
					@apply text-white;
				}
				&.red {
					@apply border-dustyred-100 bg-gradient-to-r from-dustyred-300 to-dustyred-800;
					&:hover {
						@apply border-moonstone-200 bg-gradient-to-r from-moonstone-300 to-moonstone-700;
					}
					&.sktn {
						@apply bg-transparent text-dustyred-400 border-4 border-dustyred-400 bg-none;
						&:hover {
							@apply bg-dustyred-400 text-white;
						}
					}
				}
				&.blue {
					@apply border-moonstone-200 bg-gradient-to-r from-moonstone-300 to-moonstone-700;
					&:hover {
						@apply border-dustyred-100 bg-gradient-to-r from-dustyred-300 to-dustyred-800;
					}
				}
			}
			.gogdm {
				&:hover {
					cursor: pointer;
				}
			}
			.fa-x-twitter,
			.fa-square-x-twitter {
				width: 100px;
			}
			.section-header {
				@apply flex flex-col justify-center font-bold text-center items-center px-6  mb-10 max-w-3xl mx-auto;
				h2 {
					@apply text-xxxl mb-4;
				}
				&.dark {
					@apply text-white;
					h2 {
						@apply text-white;
					}
				}
				&.left {
					@apply text-left px-0 block max-w-full;
				}
			}
			.subtitle {
				@apply font-semibold uppercase mb-6;
			}
			.gauche-droite .col .body p {
				@apply mb-3;
			}
			.category-header {
				@apply mx-auto container mb-12;
			}
			@keyframes fadeIn {
				0% {
					opacity: 0;
					transform: translateX(60px);
				}
				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}
			@keyframes fadeOut {
				0% {
					opacity: 1;
					transform: translateX(0);
				}
				100% {
					opacity: 0;
					transform: translateX(-200px);
				}
			}

			@keyframes fadeInFromBottom {
				0% {
					opacity: 0;
					transform: translateY(60px);
				}
				50% {
					opacity: 0;
					transform: translateY(60px);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}

			@keyframes fadeOutToLeft {
				0% {
					opacity: 1;
					transform: translateX(0);
				}
				100% {
					opacity: 0;
					transform: translateX(-200px);
				}
			}
			@media (max-width: 640px) {
				html {
					font-size: 14px;
				}
			}
		</style>
	</body>
</html>
