---
import BookMe from "../components/BookMe.astro";
interface Props {
	title: string;
	description: string;
	ogimage?: string;
}
const { title, description, ogimage } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Repere from "../components/Repere.astro";
import TakuLauncher from "../components/TakuLauncher.astro";
import NovaLauncher from "../components/NovaLauncher.astro";
---

<!doctype html>
<html lang="fr">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="robots" content="index, follow" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Charles Annoni - GDM-Pixel" />
		<meta name="theme-color" content="#13151a" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@GDM_Pixel" />
		<meta name="twitter:creator" content="@GDM_Pixel" />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta
			property="og:image"
			content={ogimage
				? `https://www.gdm-pixel.fr${ogimage}`
				: "https://www.gdm-pixel.fr/img/Opengraph-img.jpg"}
		/>
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content="GDM-Pixel, Agence web à Caen" />
		<meta property="og:locale" content="fr_FR" />
		<title>{title}</title>
		<!-- Google Tag Manager -->
		
<script type="text/partytown">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TZB5ZZ8X');</script>
	</head>
	<body>
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZB5ZZ8X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<slot />
		<BookMe />
		<TakuLauncher />
		<NovaLauncher />

		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const loadedImages = {};
				//@ts-ignore
				function preloadImage(url) {
					//@ts-ignore
					if (!loadedImages[url]) {
						const img = new Image();
						img.src = url;
						//@ts-ignore
						loadedImages[url] = true;
					}
				}
				document.querySelectorAll("a[data-image-src]").forEach((link) => {
					link.addEventListener("mouseover", function () {
						//@ts-ignore
						preloadImage(this.getAttribute("data-image-src"));
					});
				});
			});
		</script>
		<script>
			import { Fancybox } from "@fancyapps/ui";
			import "@fancyapps/ui/dist/fancybox/fancybox.css";
			function initFancybox() {
				Fancybox.bind("[data-fancybox]", {
					// Your custom options
				});
			}
			initFancybox();
			document.addEventListener("astro:page-load", initFancybox);
		</script>

		<style is:global lang="scss">
			body {
				overflow-x: clip;
			}
			article {
				.featuredimg {
					@apply mb-4;
				}
				.featuredvideo {
					@apply mb-4 w-full aspect-[16/9];
				}
				h1 {
					@apply leading-tight mb-4;
				}
				a img {
					@apply border-4 border-transparent box-content transition-all duration-300;
					&:hover {
						@apply border-4 border-solid border-moonstone-400 cursor-zoom-in transition-all duration-300;
					}
				}
			}
			@media screen and (max-width: 767px) {
				.container {
					@apply max-w-full px-6;
				}
			}

			.inner_container_lg {
				@apply mx-auto;
				max-width: 1600px;
			}
			a {
				@apply text-moonstone-400 transition-all duration-300;
				&:hover {
					@apply text-dustyred-400 transition-all duration-300;
				}
			}
			.cta {
				@apply border-2 border-solid text-white font-bold rounded-md px-6 py-3 drop-shadow-lg shadow-prussian-700;
				&:hover {
					@apply text-white;
				}
				&.red {
					@apply border-dustyred-100 bg-gradient-to-r from-dustyred-300 to-dustyred-800;
					&:hover {
						@apply border-moonstone-200 bg-gradient-to-r from-moonstone-300 to-moonstone-700;
					}
					&.sktn {
						@apply bg-transparent text-dustyred-400 border-4 border-dustyred-400 bg-none;
						&:hover {
							@apply bg-dustyred-400 text-white;
						}
					}
				}
				&.blue {
					@apply border-moonstone-200 bg-gradient-to-r from-moonstone-300 to-moonstone-700;
					&:hover {
						@apply border-dustyred-100 bg-gradient-to-r from-dustyred-300 to-dustyred-800;
					}
				}
			}
			.gogdm {
				&:hover {
					cursor: pointer;
				}
			}
			.fa-x-twitter,
			.fa-square-x-twitter {
				width: 100px;
			}

			.category-header {
				@apply mx-auto container mb-12;
			}
			@keyframes fadeIn {
				0% {
					opacity: 0;
					transform: translateX(60px);
				}
				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}
			@keyframes fadeOut {
				0% {
					opacity: 1;
					transform: translateX(0);
				}
				100% {
					opacity: 0;
					transform: translateX(-200px);
				}
			}

			@keyframes fadeInFromBottom {
				0% {
					opacity: 0;
					transform: translateY(60px);
				}
				50% {
					opacity: 0;
					transform: translateY(60px);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}

			@keyframes fadeOutToLeft {
				0% {
					opacity: 1;
					transform: translateX(0);
				}
				100% {
					opacity: 0;
					transform: translateX(-200px);
				}
			}
			@media (max-width: 640px) {
				html {
					font-size: 14px;
				}
			}
		</style>
	</body>
</html>
