---
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
	description:string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Charles Annoni - GDM-Pixel" />
		<meta name="theme-color" content="#13151a" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@GDM_Pixel" />
		<meta name="twitter:creator" content="@GDM_Pixel" />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url}/>
		<meta property="og:image" content="https://astro.gdm-pixel.fr/og.png" />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content="GDM-Pixel, Agence web à Caen" />
		<meta property="og:locale" content="fr_FR" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			npmhite 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
