---
import NovaLauncher from "../components/NovaLauncher.astro";
interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import GTM from "../components/GTM.astro";
---

<!doctype html>
<html lang="fr">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="robots" content="index, follow" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Charles Annoni - GDM-Pixel" />
		<meta name="theme-color" content="#13151a" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@GDM_Pixel" />
		<meta name="twitter:creator" content="@GDM_Pixel" />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content="https://astro.gdm-pixel.fr/og.png" />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content="GDM-Pixel, Agence web à Caen" />
		<meta property="og:locale" content="fr_FR" />
		<title>{title}</title>
	</head>
	<body>
		<GTM />
		<slot />
		<NovaLauncher />
		<script src="/js/gdm-goto.js" is:inline></script>
		<script>
			//@ts-nocheck
			 function preloadImages() {
        const loadedImages = {};
        function preloadImage(url) {
            if (!loadedImages[url]) {
                const img = new Image();
                img.src = url;
                loadedImages[url] = true;
            }
        }

        document.querySelectorAll("a[data-image-src]").forEach((link) => {
            link.addEventListener("mouseover", function () {
                preloadImage(this.getAttribute("data-image-src"));
            });
        });
    }
	//@ts-check
    document.addEventListener("DOMContentLoaded", preloadImages);
    document.addEventListener("astro:page-load", preloadImages);
		</script>

		<style is:global lang="scss">
			body {
				overflow-x: clip;
			}

			@media screen and (max-width: 767px) {
				.container {
					@apply max-w-full px-6;
				}
			}

			.inner_container_lg {
				@apply mx-auto;
				max-width: 1600px;
			}
			a {
				@apply text-moonstone-400 transition-all duration-300;
				&:hover {
					@apply text-dustyred-400 transition-all duration-300;
				}
			}
			.cta {
				@apply border-2 border-solid text-white font-bold rounded-md px-6 py-3 drop-shadow-lg shadow-prussian-700;
				&:hover {
					@apply text-white;
				}
				&.red {
					@apply border-dustyred-100 bg-gradient-to-r from-dustyred-300 to-dustyred-800;
					&:hover {
						@apply border-moonstone-200 bg-gradient-to-r from-moonstone-300 to-moonstone-700;
					}
					&.sktn {
						@apply bg-transparent text-dustyred-400 border-4 border-dustyred-400 bg-none;
						&:hover {
							@apply bg-dustyred-400 text-white;
						}
					}
				}
				&.blue {
					@apply border-moonstone-200 bg-gradient-to-r from-moonstone-300 to-moonstone-700;
					&:hover {
						@apply border-dustyred-100 bg-gradient-to-r from-dustyred-300 to-dustyred-800;
					}
				}
			}
			.gogdm {
				&:hover {
					cursor: pointer;
				}
			}
			.fa-x-twitter,
			.fa-square-x-twitter {
				width: 100px;
			}
			.category-header {
				@apply mx-auto container px-6 py-12 text-center;
			}
			.blogpagination {
				@apply mt-6 mb-6 flex justify-center gap-6 items-center;
				.prevbtn {
					@apply border-2 border-solid text-white text-sm font-bold rounded-md px-4 py-2 drop-shadow-lg shadow-prussian-700 border-dustyred-100 bg-gradient-to-r from-dustyred-300 to-dustyred-800;
					&:hover {
						@apply border-moonstone-200 bg-gradient-to-r from-moonstone-300 to-moonstone-700;
					}
				}
				.nextbtn {
					@apply border-2 border-solid text-white text-sm font-bold rounded-md px-4 py-2 drop-shadow-lg shadow-prussian-700 border-moonstone-200 bg-gradient-to-r from-moonstone-300 to-moonstone-700;
					&:hover {
						@apply border-dustyred-100 bg-gradient-to-r from-dustyred-300 to-dustyred-800;
					}
				}
			}
		</style>
		<style>
			@keyframes fadeIn {
				0% {
					opacity: 0;
					transform: translateX(60px);
				}
				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}
			@keyframes fadeOut {
				0% {
					opacity: 1;
					transform: translateX(0);
				}
				100% {
					opacity: 0;
					transform: translateX(-200px);
				}
			}

			@keyframes fadeInFromBottom {
				0% {
					opacity: 0;
					transform: translateY(60px);
				}
				50% {
					opacity: 0;
					transform: translateY(60px);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}

			@keyframes fadeOutToLeft {
				0% {
					opacity: 1;
					transform: translateX(0);
				}
				100% {
					opacity: 0;
					transform: translateX(-200px);
				}
			}
			@media (max-width: 640px) {
				html {
					font-size: 14px;
				}
			}
		</style>
	</body>
</html>
